.obj-header
    h3.text-center.p-centered ПРОМЫШЛЕННОГО ПОЛА
.obj-body
    #paramFloor.column.col-12.animated.fadeIn.p-centered
        a(name="param")
        ul.survey_points
            li.tile.tile-centered
                .tile-icon.hide-xs
                    figure.avatar.avatar-lg.bg-dark(data-initial="1")
                .tile-content
                    figure.avatar.avatar-lg.bg-dark.p-centered.show-xs(data-initial="1")
                    .tile-title.text-bold ВЫСОКАЯ ПРОЧНОСТЬ И ИЗНОСОСТОЙКОСТЬ
                    .tile-subtitle.text-gray Устойчивость к царапинам, ударам и нагрузкам, благодаря чему вы можете использовать высокие стеллажи и хранить большое кол-во продукции и материалов. А также обеспечить безопасную работу складского оборудования.
                    button.btn.btn-warning.btn-sm.p-centered.mt-2.mb-2.bt_importance.goal_item.show-xs(data-goal="bt_sur_prochnost") Мне это важно
                .tile-action.hide-xs
                    button.btn.btn-warning.bt_importance.goal_item(data-goal="bt_sur_prochnost") Мне это важно
            li.tile.tile-centered
                .tile-icon.hide-xs
                    figure.avatar.avatar-lg.bg-dark(data-initial="2")
                .tile-content
                    figure.avatar.avatar-lg.bg-dark.p-centered.show-xs(data-initial="2")
                    .tile-title.text-bold ДОЛГОВЕЧНОСТЬ
                    .tile-subtitle.text-gray При соблюдении норм эксплуатации от 10 лет и более
                    button.btn.btn-warning.btn-sm.p-centered.mt-2.mb-2.bt_importance.goal_item.show-xs(data-goal="bt_sur_prochnost") Мне это важно
                .tile-action.hide-xs
                    button.btn.btn-warning.bt_importance.goal_item(data-goal="bt_sur_prochnost") Мне это важно
            li.tile.tile-centered
                .tile-icon.hide-xs
                    figure.avatar.avatar-lg.bg-dark(data-initial="3")
                .tile-content
                    figure.avatar.avatar-lg.bg-dark.p-centered.show-xs(data-initial="3")
                    .tile-title.text-bold РОВНАЯ ПОВЕРХНОСТЬ
                    .tile-subtitle.text-gray Поверхность (глянцевая или матовая на выбор) – перепады в пределах 2 мм на 1 м2, что обеспечивает точную работу автоматических погрузчиков, а также устойчивость для складского оборудования: стеллажей, паллет и поддонов.
                    button.btn.btn-warning.btn-sm.p-centered.mt-2.mb-2.bt_importance.goal_item.show-xs(data-goal="bt_sur_prochnost") Мне это важно
                .tile-action.hide-xs
                    button.btn.btn-warning.bt_importance.goal_item(data-goal="bt_sur_prochnost") Мне это важно
            li.tile.tile-centered
                .tile-icon.hide-xs
                    figure.avatar.avatar-lg.bg-dark(data-initial="4")
                .tile-content
                    figure.avatar.avatar-lg.bg-dark.p-centered.show-xs(data-initial="4")
                    .tile-title.text-bold ПРИВЛЕКАТЕЛЬНЫЙ ВНЕШНИЙ ВИД
                    .tile-subtitle.text-gray (По мнению британских ученых..) увеличивает производительность труда
                    button.btn.btn-warning.btn-sm.p-centered.mt-2.mb-2.bt_importance.goal_item.show-xs(data-goal="bt_sur_prochnost") Мне это важно
                .tile-action.hide-xs
                    button.btn.btn-warning.bt_importance.goal_item(data-goal="bt_sur_prochnost") Мне это важно
            li.tile.tile-centered
                .tile-icon.hide-xs
                    figure.avatar.avatar-lg.bg-dark(data-initial="5")
                .tile-content
                    figure.avatar.avatar-lg.bg-dark.p-centered.show-xs(data-initial="5")
                    .tile-title.text-bold БЕСПЫЛЬНЫЕ
                    .tile-subtitle.text-gray Обеспечивают долговечность работы оборудования, а также требуемые условия производства и хранения продукции
                    button.btn.btn-warning.btn-sm.p-centered.mt-2.mb-2.bt_importance.goal_item.show-xs(data-goal="bt_sur_prochnost") Мне это важно
                .tile-action.hide-xs
                    button.btn.btn-warning.bt_importance.goal_item(data-goal="bt_sur_prochnost") Мне это важно
            li.tile.tile-centered
                .tile-icon.hide-xs
                    figure.avatar.avatar-lg.bg-dark(data-initial="6")
                .tile-content
                    figure.avatar.avatar-lg.bg-dark.p-centered.show-xs(data-initial="6")
                    .tile-title.text-bold ГИГИЕНИЧНОСТЬ И ЛЁГКОСТЬ В УБОРКЕ
                    .tile-subtitle.text-gray Обеспечивают соблюдение норм производства и хранения продукции, а также низкие затраты на уборку
                    button.btn.btn-warning.btn-sm.p-centered.mt-2.mb-2.bt_importance.goal_item.show-xs(data-goal="bt_sur_prochnost") Мне это важно
                .tile-action.hide-xs
                    button.btn.btn-warning.bt_importance.goal_item(data-goal="bt_sur_prochnost") Мне это важно
            li.tile.tile-centered
                .tile-icon.hide-xs
                    figure.avatar.avatar-lg.bg-dark(data-initial="7")
                .tile-content
                    figure.avatar.avatar-lg.bg-dark.p-centered.show-xs(data-initial="7")
                    .tile-title.text-bold ИСКРОБЕЗОПАСНОСТЬ
                    .tile-subtitle.text-gray Полностью исключает возникновение искры с последующими последствиями
                    button.btn.btn-warning.btn-sm.p-centered.mt-2.mb-2.bt_importance.goal_item.show-xs(data-goal="bt_sur_prochnost") Мне это важно
                .tile-action.hide-xs
                    button.btn.btn-warning.bt_importance.goal_item(data-goal="bt_sur_prochnost") Мне это важно
            li.tile.tile-centered
                .tile-icon.hide-xs
                    figure.avatar.avatar-lg.bg-dark(data-initial="8")
                .tile-content
                    figure.avatar.avatar-lg.bg-dark.p-centered.show-xs(data-initial="8")
                    .tile-title.text-bold ВЫСОКАЯ ХИМИЧЕСКАЯ СТОЙКОСТЬ
                    .tile-subtitle.text-gray Растворы щелочей и кислот а также других агрессивных сред не разрушат несущую плиту пола
                    button.btn.btn-warning.btn-sm.p-centered.mt-2.mb-2.bt_importance.goal_item.show-xs(data-goal="bt_sur_prochnost") Мне это важно
                .tile-action.hide-xs
                    button.btn.btn-warning.bt_importance.goal_item(data-goal="bt_sur_prochnost") Мне это важно
            li.tile.tile-centered
                .tile-icon.hide-xs
                    figure.avatar.avatar-lg.bg-dark(data-initial="9")
                .tile-content
                    figure.avatar.avatar-lg.bg-dark.p-centered.show-xs(data-initial="9")
                    .tile-title.text-bold НЕ ВПИТЫВАЮТ ГРЯЗЬ И ЖИДКОСТИ
                    .tile-subtitle.text-gray Покрытие длительное время сохраняет свой первоначальный внешний вид
                    button.btn.btn-warning.btn-sm.p-centered.mt-2.mb-2.bt_importance.goal_item.show-xs(data-goal="bt_sur_prochnost") Мне это важно
                .tile-action.hide-xs
                    button.btn.btn-warning.bt_importance.goal_item(data-goal="bt_sur_prochnost") Мне это важно
.obj-footer
    .calc-panel.p-centered.p-relative.text-uppercase
        svg.gear1.p-absolute
            use.g(href="#icon-logo",xmlns:xlink="http://www.w3.org/1999/xlink", x="8.7", y="8.5")
        .header-plate-text.text-center
            .h5.text-uppercase.text-center УКАЖИТЕ ПЛОЩАДЬ ВАШЕГО ПОЛА ДЛЯ РАСЧЁТА ЕГО СТОИМОСТИ
            .input-group.p-centered
                input.form-input(type="text",  placeholder="")
                button.bt_callback.btn.btn-error.input-group-btn.survey-value РАССЧИТАТЬ
        svg.gear2.p-absolute
            use.g(href="#icon-logo",xmlns:xlink="http://www.w3.org/1999/xlink", x="8.7", y="8.5")

