#poly_types.column.col-12
    h3.text-center ГДЕ ПРОИЗВОДСТВЕННЫЕ ПОЛЫ 
        small.d-block.text-gray БУДУТ ОПТИМАЛЬНЫМ РЕШЕНИЕМ
    .columns.text-center
        .column.col-4.col-md-4.col-xl-4.col-xs-12
            .panel.h-100
                .panel-header
                    a
                        img(src="./images/icon-storage-dark.png", alt="Промышленные полы — бетонные, полимерные в Москве и МО", class="img-responsive p-centered", title="Промышленные полы — бетонные, полимерные в Москве и МО")
                .panel-body
                    .panel-title Полы для складских помещений
                .panel-footer
                    button.btn.p-centered(onclick="window.location='https://proftechpol.ru/poly-dlya-sklada'") Подробнее
        .column.col-4.col-md-4.col-xl-4.col-xs-12
            .panel.h-100
                .panel-header
                    a
                        img(src="./images/icon-production-dark.png", alt="Промышленные полы — бетонные, полимерные в Москве и МО", class="img-responsive p-centered", title="Промышленные полы — бетонные, полимерные в Москве и МО")
                .panel-body
                    .panel-title Полы для производственных помещений
                .panel-footer
                    button.btn.p-centered(onclick="window.location='https://proftechpol.ru/proizvodstvenye-poly'") Подробнее
        .column.col-4.col-md-4.col-xl-4.col-xs-12
            .panel.h-100
                .panel-header
                    a
                        img(src="./images/icon-mall-dark.png", alt="Промышленные полы — бетонные, полимерные в Москве и МО", class="img-responsive p-centered", title="Промышленные полы — бетонные, полимерные в Москве и МО")
                .panel-body
                    .panel-title Полы для торговых центров
                .panel-footer
                    button.btn.p-centered(onclick="window.location='https://proftechpol.ru/poly-dlya-torgovyh-tsentrov'") Подробнее
        .column.col-4.col-md-4.col-xl-4.col-xs-12
            .panel.h-100
                .panel-header
                    a
                        img(src="./images/icon-parking-dark.png", alt="Промышленные полы — бетонные, полимерные в Москве и МО", class="img-responsive p-centered", title="Промышленные полы — бетонные, полимерные в Москве и МО")
                .panel-body
                    .panel-title Полы для паркингов
                .panel-footer
                    button.btn.p-centered(onclick="window.location='https://proftechpol.ru/poly-dlya-parkingov'") Подробнее
        .column.col-4.col-md-4.col-xl-4.col-xs-12
            .panel.h-100
                .panel-header
                    a
                        img(src="./images/icon-storage-dark.png", alt="Промышленные полы — бетонные, полимерные в Москве и МО", class="img-responsive p-centered", title="Промышленные полы — бетонные, полимерные в Москве и МО")
                .panel-body
                    .panel-title Полы для автосервисов и СТО
                .panel-footer
                    button.btn.p-centered(onclick="window.location='https://proftechpol.ru/poly-dlya-avtoservisov'") Подробнее
        .column.col-4.col-md-4.col-xl-4.col-xs-12
            .panel.h-100
                .panel-header
                    a
                        img(src="./images/icon-civil-dark.png", alt="Промышленные полы — бетонные, полимерные в Москве и МО", class="img-responsive p-centered", title="Промышленные полы — бетонные, полимерные в Москве и МО")
                .panel-body
                    .panel-title Полы для для общественных и административных зданий
                .panel-footer
                    button.btn.p-centered(onclick="window.location='https://proftechpol.ru/poly-dlya-obschestvenih-i-administrativnih-zdaniy'") Подробнее
        .column.col-4.col-md-4.col-xl-4.col-xs-12
            .panel.h-100
                .panel-header
                    a
                        img(src="./images/icon-agro-dark.png", alt="Промышленные полы — бетонные, полимерные в Москве и МО", class="img-responsive p-centered", title="Промышленные полы — бетонные, полимерные в Москве и МО")
                .panel-body
                    .panel-title Полы для сельского хозяйства
                .panel-footer
                    button.btn.p-centered(onclick="window.location='https://proftechpol.ru/poly-dlya-selskogo-hozyaistva'") Подробнее
        .column.col-4.col-md-4.col-xl-4.col-xs-12
            .panel.h-100
                .panel-header
                    a
                        img(src="./images/icon-sport-dark.png", alt="Промышленные полы — бетонные, полимерные в Москве и МО", class="img-responsive p-centered", title="Промышленные полы — бетонные, полимерные в Москве и МО")
                .panel-body
                    .panel-title Спортивные полы и покрытия
                .panel-footer
                    button.btn.p-centered(onclick="window.location='https://proftechpol.ru/sportivnie-poly-i-pokrytiya'") Подробнее