.obj-header
    h3.text-center.p-centered ПРОМЫШЛЕННЫЙ ПОЛ У НАС
    .reasons-description.p-centered
        p Проект ПРОФТЕХИНЖИНИРИНГ, будучи инжениринговой компанией полного цикла, собрал под своим брендом лучших среди наиболее профессиональных исполнителей. По нашему опыту взаимодействия с различными компаниями в сфере промышленных полов, лучше всего себя зарекомендовала компания ООО «ПРОФТЕХПОЛ». Свой выбор мы остановили именно на ней в виду следующих важных особенностей:
.obj-body
    #reasonsFloor.column.col-12.animated.fadeIn.p-centered
        ul.survey_points.p-0
            li.tile
                .tile-icon.hide-xs
                    figure.avatar.avatar-lg.bg-dark(data-initial="1")
                .tile-content
                    figure.avatar.avatar-lg.bg-dark.p-centered.show-xs(data-initial="1")
                    .tile-title.text-bold Точное, экономически выгодное и оптимальное <mark>ИНЖЕНЕРНОЕ РЕШЕНИЕ</mark>
                    .tile-subtitle.text-gray Инженеры компании предлагают несколько вариантов решений именно с учётом особенностей вашего конкретного объекта.
                    .tile-subtitle.text-gray При этом в большинстве случаев они найдут решение, которое позволит вам сэкономить существенную сумму денег без потери качества
            li.tile
                .tile-icon.hide-xs
                    figure.avatar.avatar-lg.bg-dark(data-initial="2")
                .tile-content
                    figure.avatar.avatar-lg.bg-dark.p-centered.show-xs(data-initial="2")
                    .tile-title.text-bold Выверенный более чем за 10 лет на объектах разных типов <mark>ПРАКТИЧЕСКИЙ ОПЫТ</mark>
                    .tile-subtitle.text-gray Компания работает в полах уже более 10 лет и собрала обширный опыт в устройстве полов различных типов и самых разных объектах в числе которых:
                    ul.p-centered.text-gray
                        li Объекты космической отрасли на которых тестируют космические летательные аппараты со всего мира, производственные помещения заводов LG,
                        li Посольство Казахстана
                        li Самый крупный развлекательный парк в мире Dream Island, строительство которого на данный момент ведётся в Москве,
                        li Различные склады,
                        li Паркинги и
                        li Множество других объектов самого разного назначения.
            li.tile
                .tile-icon.hide-xs
                    figure.avatar.avatar-lg.bg-dark(data-initial="3")
                .tile-content
                    figure.avatar.avatar-lg.bg-dark.p-centered.show-xs(data-initial="3")
                    .tile-title.text-bold Компания берется за самые сложные объекты и улаживает любые ситуации до их полного завершения проявляя себя как <mark>ОТВЕТСТВЕННЫЙ ИСПОЛНИТЕЛЬ</mark>
                    .tile-subtitle.text-gray Компания зарекомендовала себя как ответственный исполнитель, который берется и доводит до полного завершения объекты за которые не берутся обычные исполнители или на которых до её прихода потерпели неудачи несколько других компаний по устройству полов.
            li.tile
                .tile-icon.hide-xs
                    figure.avatar.avatar-lg.bg-dark(data-initial="4")
                .tile-content
                    figure.avatar.avatar-lg.bg-dark.p-centered.show-xs(data-initial="4")
                    .tile-title.text-bold Отлаженные производственные процессы позволяют компании устраивать промышленные полы в <mark>МИНИМАЛЬНЫЕ СРОКИ ПРОИЗВОДСТВА</mark>
                    .tile-subtitle.text-gray Компания Профтехпол достаточно технологична и её внутренние производственные процессы хорошо оптимизированы. Что позволяет ей производить устройство полов различных типов в минимально-возможные сроки и с максимальным качеством.
            li.tile
                .tile-icon.hide-xs
                    figure.avatar.avatar-lg.bg-dark(data-initial="5")
                .tile-content
                    figure.avatar.avatar-lg.bg-dark.p-centered.show-xs(data-initial="5")
                    .tile-title.text-bold Обширная линейка видов промышленных полов позволяет компании производить конструкции полов, которые соответствуют фактически любым <mark>ЭКСПЛУАТАЦИОННЫЕ ТРЕБОВАНИЯ К ПРОМЫШЛЕННЫМ ПОЛАМ</mark>
                    .tile-subtitle.text-gray Линейка видов промышленных полов, которые может устраивать компания ПРОФТЕХПОЛ достаточно обширна и охватывает практически всё начиная от премиум сегмента до самых бюджетных конструкций промышленных полов. То она может удовлетворить потребности любого заказчика
.obj-footer
    .cta-panel.p-centered.p-relative.text-uppercase(data-cta="У вас сложный объект?<small class='d-block'>обращайтесь, мы найдем решение</small>", data-btn="ОБРАТИТЬСЯ")
        svg.gear1.p-absolute
            use.g(href="#icon-logo",xmlns:xlink="http://www.w3.org/1999/xlink", x="8.7", y="8.5")
        .header-plate-text.text-center
            .h5.text-uppercase.text-center 
        button.bt_callback.btn.btn-error.text-bold.p-centered  УЗНАТЬ СТОИМОСТЬ
        svg.gear2.p-absolute
            use.g(href="#icon-logo",xmlns:xlink="http://www.w3.org/1999/xlink", x="8.7", y="8.5")

