<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        base(href=path)
        title #{pageTitle}
        <meta name="description" content="#{pageDescription}" />
        <meta name="keywords" content="#{pageKeywords}" />
        <meta name="yandex-verification" content="598d54a790c7f346" />
        link(rel="shortcut icon" href="images/favicon.png" type="image/png")
        link(rel="stylesheet", href="./css/mainBundle.css")
        block styles
    body#app_body.animated.faster
        .docs-container.off-canvas.off-canvas-sidebar-show#sidebarShow
            a.off-canvas-overlay.js-closeSidebar#sidebar-bg
            .off-canvas-content
                .docs-content
                    #content.container.d-flex
                        block sidebar
                        .content
                            block navbar
                            block content
                            include footer.pug

        include ./svg_icons-layout.pug
        <style>@font-face {font-family: Impact;font-display: auto;src: url(./fonts/impact.ttf);}</style>
        include ./callmodal-layout.pug       
        script(src="js/mainBundle.js")