<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        base(href=path)
        title #{pageTitle}
        link(rel="shortcut icon" href="images/favicon.png" type="image/png")
        link(rel="stylesheet", href="./css/officeBundle.css")
        link(rel="stylesheet", href="./css/vis.min.css")
        link(rel="stylesheet", href="./css/suite.min.css")
        block styles
    body#app_body
        include ./office-topic.pug
        block content
        script(src="js/officeBundle.js")
