@import 'spectre.css';
@import 'animate.min.css';
@import 'common.css';
@import 'spectre-exp.css';
@import 'spectre-icons.css';
@import 'timeline.css';

*::-webkit-scrollbar-track {border-radius: 4px;}
*::-webkit-scrollbar {width: 4px;height: 4px;}
*::-webkit-scrollbar-thumb {border-radius: 4px;background: #3b4351;}
*:hover::-webkit-scrollbar {width: 6px;height: 6px;}

.docs-navbar {
    background: rgba(255, 255, 255, 0.95) ;
    transition: 250ms;
    height: 3.8rem;
    position: fixed;
    z-index: 1002;
    width: 100%;
    max-width: 976px;
}

.docs-navbar .header-tel {
    position: absolute;
    right: 0.7rem;
    top: 0.35rem;
}

.docs-navbar .header-tel a {
    font-size: 1rem;
    color: #3b4351;
}

.docs-navbar .header-tel .phone-note {
    position: relative;
    font-size: 0.58rem;
    width: fit-content;
    bottom: 0.5rem;
    left: 4.9rem;
}

.off-canvas {
    max-width: 976px;
    margin: 0 auto;
}

.off-canvas .off-canvas-toggle {
    font-size: 1rem;
    left: 1.5rem;
    position: absolute;
    top: 1rem
}

.off-canvas .off-canvas-content {
    padding: 0;
    
    width: 38rem;
}

#logo {
   height: 16.5rem; 
}

#background_logo {
    height: 16.5rem;
}

#big_logo {
    width: 270px;
    height: 270px;
    position: relative;
    margin: 0 auto;
    bottom: 16rem;
    border: 1px solid;
    padding: 2px;
    border-radius: 50%;
}

.offer {
    background-color: #444;
    height: 8.3rem;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-top: 0.7rem;
    border-top: 1px solid #fff;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
    color: #f5a623;
    font-size: 1.66rem;
    margin-top: 0.3rem;
}

h1 span {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
    color: #fff;
}

#offer_text {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
    color: #f5a623;
    position: relative;
    bottom: 0.6rem;
}

#offer_text::before {
    content: '';
    position: absolute;
    top: 0.55rem;
    left: 6.2rem;
    display: block;
    border-top: 2px solid #f5a623;
    width: 5.5rem;
}

#offer_text::after {
    content: '';
    position: absolute;
    top: 0.55rem;
    left: 37.1rem;
    display: block;
    border-top: 2px solid #f5a623;
    width: 5.5rem;
}

#offer_text span {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
    color: #fff;
}

.header-stages {
    min-height: 86px;
    margin-right: 2.5rem;
    justify-content: center;
}

.header-stages li {
    list-style: none;
    margin: 0 0 0 2rem;
}

.header-stages li:hover{
    cursor: pointer;
}

.header-plate {
    position: relative;
    bottom: 0.95rem;
    height: 8rem;
    width: 42rem;
    border: 2px solid;
    border-radius: 0.7rem;
}

.header-gear1 {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: all 1s ease-in-out;
    position: absolute;
    top: 35px;
    left: 4.4rem;
    width: 90px;
    height: 90px;
}

.header-gear2 {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: all 1s ease-in-out;
    position: absolute;
    top: 35px;
    left: 32.9rem;
    width: 90px;
    height: 90px;
}

.header-plate:hover .header-gear1 {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.header-plate:hover .header-gear2 {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.header-plate-text {
    margin: 0 auto;
    width: 21rem;
}

.header-plate-text .h4 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
    font-size: 2em;
    line-height: 1.7rem;
    margin-top: 1rem;
}

.header-plate-text button {
    margin-top: 0.6rem;
}

.visable-nav {
    background: transparent !important;
}

.active {
    fill: #000
}

.icon64 {
    transition: 500ms;
    fill: #4A4A4A;
    width: 64px;
    height: 64px
}

.icon85 {
    transition: 500ms;
    fill: #000;
    width: 85px;
    height: 85px
}

.off-canvas .off-canvas-sidebar {
    background: #f7f8f9;
    bottom: 0;
    overflow-y: auto;
    position: fixed;
    top: 0;
    -webkit-transition: -webkit-transform .25s;
    transition: -webkit-transform .25s;
    transition: transform .25s; 
    transition: transform .25s, -webkit-transform .25s;
    z-index: 2999;
    left: unset;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    width: 12rem;
}

.sidebar-active {
    transform: translateX(-0%) !important;
}

/* .docs-sidebar .docs-nav {
    bottom: 1.5rem;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    padding: .5rem 1rem;
    position: fixed;
    top: 3.5rem;
    width: 13rem;
} */

/* .docs-sidebar {
    overflow-x: hidden;
}

.docs-sidebar .accordion {
    margin-bottom: .75rem
}

.docs-sidebar .accordion input~.accordion-header {
    color: #455060;
    font-size: .65rem;
    font-weight: 600;
    text-transform: uppercase
} */

/* .docs-sidebar .accordion input:checked~.accordion-header {
    color: #505c6e
} */

/* .docs-sidebar .accordion .menu .menu-item {
    font-size: .7rem;
    padding-left: 1rem
} */

/* .docs-sidebar .accordion .menu .menu-item>a {
    background: 0 0;
    color: #66758c;
    display: inline-block
} */

#sidebar_head {
    position: absolute;
    left: -14rem;
    width: 14rem;
    height: 100%;
    background-color: #fff;
    z-index: 3000;
}

.navbar-brand svg {
    width: 2.4rem;
    height: 2.4rem;
    fill: #3b4351;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: all 1s ease-in-out;
}

.navbar-brand:hover svg {
    cursor: pointer;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
