@import 'spectre.css';
@import 'animate.min.css';
@import 'common.css';
@import 'spectre-exp.css';
@import 'spectre-icons.css';
@import 'timeline.css';

*::-webkit-scrollbar-track {border-radius: 4px;}
*::-webkit-scrollbar {width: 4px;height: 4px;}
*::-webkit-scrollbar-thumb {border-radius: 4px;background: #3b4351;}
*:hover::-webkit-scrollbar {width: 6px;height: 6px;}

.pt3 {
    padding-top: 3rem;
}

.docs-navbar {
    background: rgba(255, 255, 255, 0.95) ;
    transition: 250ms;
    height: 3.8rem;
    position: fixed;
    z-index: 1002;
    width: 100%;
    max-width: 976px;
}

.docs-navbar .header-tel {
    position: absolute;
    right: 0.7rem;
    top: 0.35rem;
}

.docs-navbar .header-tel a {
    font-size: 1rem;
    color: #3b4351;
}

.docs-navbar .header-tel .phone-note {
    position: relative;
    font-size: 0.58rem;
    width: fit-content;
    bottom: 0.5rem;
    left: 4.9rem;
}

.off-canvas {
    max-width: 976px;
    margin: 0 auto;
}

.off-canvas .off-canvas-toggle {
    font-size: 1rem;
    left: 1.5rem;
    position: absolute;
    top: 1rem
}

.off-canvas .off-canvas-content {
    padding: 0;
    
    width: 38rem;
}

header img {
    display: block;
}

#logo {
   height: 16.5rem; 
}

#background_logo {
    height: 16.5rem;
}

#big_logo {
    width: 270px;
    height: 270px;
    position: relative;
    margin: 0 auto;
    bottom: 16rem;
    border: 1px solid;
    padding: 2px;
    border-radius: 50%;
}

.offer {
    background-color: #444;
    height: 8.3rem;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-top: 0.7rem;
    border-top: 1px solid #fff;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
    color: #f5a623;
    font-size: 1.66rem;
    margin-top: 0.3rem;
}

h1 span {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
    color: #fff;
}

#offer_text {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
    color: #f5a623;
    position: relative;
    bottom: 0.6rem;
}

#offer_text::before {
    content: '';
    position: absolute;
    top: 0.55rem;
    left: 6.2rem;
    display: block;
    border-top: 2px solid #f5a623;
    width: 5.5rem;
}

#offer_text::after {
    content: '';
    position: absolute;
    top: 0.55rem;
    right: 6.2rem;
    display: block;
    border-top: 2px solid #f5a623;
    width: 5.5rem;
}

#offer_text span {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
    color: #fff;
}

.header-stages {
    min-height: 86px;
    margin-right: 2.5rem;
    justify-content: center;
}

.header-stages li {
    list-style: none;
    margin: 0 0 0 2rem;
}

.header-stages li:hover{
    cursor: pointer;
}

.header-plate {
    position: relative;
    bottom: 0.95rem;
    height: 8rem;
    width: 42rem;
    border: 2px solid;
    border-radius: 0.7rem;
}

.header-plate-sm {
    width: 34rem;
}

.header-plate-sm .header-gear1 {
    left: 0.4rem;
}

.header-plate-sm .header-gear2 {
    right: 0.4rem;
}

.header-gear1 {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: all 1s ease-in-out;
    position: absolute;
    top: 35px;
    left: 4.4rem;
    width: 90px;
    height: 90px;
}

.header-gear2 {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: all 1s ease-in-out;
    position: absolute;
    top: 35px;
    right: 4.4rem;
    width: 90px;
    height: 90px;
}

.header-plate:hover .header-gear1, .cta-panel:hover .gear1 {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.header-plate:hover .header-gear2, .cta-panel:hover .gear2 {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.header-plate-text {
    margin: 0 auto;
    width: 25rem;
}

.header-plate-text .h4 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
    font-size: 2em;
    line-height: 1.7rem;
    margin-top: 1rem;
}

.header-plate-text button {
    margin-top: 0.6rem;
}

.visable-nav {
    background: transparent !important;
}

.active {
    fill: #000
}

.icon64 {
    transition: 500ms;
    fill: #4A4A4A;
    width: 64px;
    height: 64px
}

.icon85 {
    transition: 500ms;
    fill: #000;
    width: 85px;
    height: 85px
}

.off-canvas .off-canvas-sidebar {
    background: #f7f8f9;
    bottom: 0;
    overflow-y: auto;
    position: fixed;
    top: 0;
    -webkit-transition: -webkit-transform .25s;
    transition: -webkit-transform .25s;
    transition: transform .25s; 
    transition: transform .25s, -webkit-transform .25s;
    z-index: 2999;
    left: unset;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    width: 12rem;
    overflow: unset;
}

.sidebar-active {
    transform: translateX(-0%) !important;
}

.sidebar-active + .js-closeSidebar {
    display: block;
    left: unset;
    right: unset;
    width: 48.8rem;
}

.js-closeSidebar {
    z-index: 2998;
}

#sidebar_head {
    position: absolute;
    left: -14rem;
    width: 14rem;
    height: 100%;
    background-color: #fff;
    z-index: 3000;
}

.navbar-brand svg {
    width: 2.4rem;
    height: 2.4rem;
    fill: #3b4351;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: all 1s ease-in-out;
}

.navbar-brand:hover svg {
    cursor: pointer;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

h2 {
    font-size: 1.1rem;
    border-bottom: 2px solid;
    width: 35.3rem;
    padding-bottom: 0.1rem;
    margin-bottom: 0;
    margin-top: 1rem;
}

.obj-header .sub-title {
    font-size: 1.8rem;
    max-width: 30rem;
}

.obj-header img {
    width: 23rem;
}

.obj-header a {
    width: 8rem;
}

.obj-header small {
    font-size: 1.3rem;
}

.obj-body p {
    font-size: 0.7rem;
    width: 27rem;
    margin-top: 1rem;
}

.obj-body ul {
    font-size: 0.7rem;
    width: 27rem;
    margin-top: 1rem;
    list-style: none;
}

.obj-body ul:not(.survey_points) li::before {
    content: '';
    display: inline-block;
    width: 4px;
    border-radius: 50%;
    margin-bottom: 3px;
    margin-right: 5px;
    height: 4px;
    background-color: #000;

}

.obj-footer {
    margin-top: 1rem;
}

.cta-panel {
    height: 7rem;
    width: 29rem;
    border: 2px solid;
    border-radius: 0.7rem;
}

.cta-panel .h5 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
    font-size: 1.2rem;
    line-height: 1.6rem;
    margin-top: 0.7rem; 
}

.cta-panel .h5 span {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
}

.cta-panel button {
    margin-top: 0.4rem;
}

.gear1 {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: all 1s ease-in-out;
    width: 3.5rem;
    height: 3.5rem;
    top: 1.6rem;
    left: 1rem
    
}

.gear2 {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: all 1s ease-in-out;
    width: 3.5rem;
    height: 3.5rem;
    top: 1.6rem;
    right: 1rem
}

section:not(.first-section) { 
    margin-top: 2rem;
}

#sidebar .docs-nav {
    padding: 0rem 1rem;
    top: 0px;
    position: fixed;
}

#sidebar ul > li {
    font-size: 0.44rem;
    line-height: 0.3rem;
}

.navbar-brand small {
    line-height: .6rem;
    font-size: .41rem;
    letter-spacing: .03rem;
    display: block;
}

.navbar-brand a {
    color: #3b4351;
    font-weight: 200;
    font-size: .75rem;
}

.navbar-brand:hover a {
    text-decoration: none;
    color: orange;
    fill: orange;
    cursor: pointer;
}

.navbar-brand a span {
    font-weight: 500;
    font-size: .6rem;
}

.navbar-brand svg {
    width: 2.4rem;
    height: 2.4rem;
    fill: #3b4351;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: all 1s ease-in-out;
}

.navbar-brand:hover svg {
    cursor: pointer;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.navbar small {
    color: #9c9c9c;
}

.navbar-brand .tile-content {
    padding-bottom: .5rem;
}

.sidebar-relative {
    position: relative !important;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-transform: none;
    transform: none;
    width: 12rem;
    z-index: 1004;
    transform: none !important;
}

footer {
    background-color: #303742;
    color: #fff;
    padding-top: 0.3rem;
    padding-bottom: 2rem;
}
footer p {
    margin: 0
}

.modal.acitve {
    z-index: 4000 !important;
}

#paramFloor ul,#reasonsFloor ul {
    margin:unset;
    width:100%;
}

#paramFloor ul li .tile-subtitle,#reasonsFloor ul li .tile-subtitle {
    white-space: normal;
    line-height: 0.9rem;
}

.tile-title {
    font-size: 0.9rem;
}

#reasonsFloor .tile-subtitle {
    margin-top: 1rem !important;
}

#reasonsFloor ul {
    padding-left: 2rem;
    margin-top: 1rem;
}

#reasonsFloor ul li {
    margin: 0;
}

#reasonsFloor .tile {
    margin-top: 1rem;
}

.reasons-description {
    margin-top: 1rem;
    border: 1px solid;
    border-radius: 4px;
    width: 29rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.reasons-description p {
    margin: 0;
    font-size: 0.7rem;
}

.survey_points li {
    margin-top: 1rem
}

.survey_points li .avatar {
    margin-bottom: 0.5rem 
}

@media (max-width: 768px) {
    #logo {
        height: 14.85rem;
    }
    #offer_text {
        bottom: 0rem;
    }
    #offer_text::before {
        left: 1rem;
    }
    #offer_text::after  {
        right: 1rem;
    }
    h1 {
        font-size: 1.3rem;
    }
    .header-plate {
        width: 34rem;
    }
    
    .header-plate .header-gear1 {
        left: 0.4rem;
    }
    
    .header-plate .header-gear2 {
        right: 0.4rem;
    }
}
