@import 'spectre.css';
@import 'animate.min.css';
@import 'common.css';
@import 'spectre-exp.css';
@import 'spectre-icons.css';
@import 'timeline.css'; 

*::-webkit-scrollbar-track {border-radius: 4px;}
*::-webkit-scrollbar {width: 4px;height: 4px;}
*::-webkit-scrollbar-thumb {border-radius: 4px;background: #3b4351;}
*:hover::-webkit-scrollbar {width: 6px;height: 6px;}

.callback_phone_button {
    position: fixed;
    bottom: calc(5% - 3.75px);
    /* right: calc(3% - 2.25px); */
    right: 1rem;
    display: block;
    height: 150px;
    width: 150px;
    margin-bottom: 25px;
    margin-right: 25px;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    opacity: .8;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    z-index: 999990!important;
    transform-origin: 50% 50% 0
}

.callback_phone_button:hover {
    opacity: 1
}

.callback_phone_fill {
    height: 120px;
    width: 120px;
    background: #d95000;
    border-radius: 50%;
    position: absolute;
    top: 40px;
    left: 40px;
    z-index: 999991;
    -webkit-animation: ringostat_pulse 2.5s infinite ease-in-out;
    -moz-animation: ringostat_pulse 2.5s infinite ease-in-out;
    -ms-animation: ringostat_pulse 2.5s infinite ease-in-out;
    -o-animation: ringostat_pulse 2.5s infinite ease-in-out;
    animation: ringostat_pulse 2.5s infinite ease-in-out;
    transform-origin: 50% 50% 0
}

.callback_phone_body {
    height: 60px;
    width: 60px;
    position: absolute;
    left: 70px;
    top: 70px;
    border-radius: 50%;
    z-index: 999992;
    box-shadow: 0 0 0 15px rgba(250,173,56,0);
    -webkit-box-shadow: 0 0 0 15px rgba(250,173,56,0);
    -moz-box-shadow: 0 0 0 15px rgba(250,173,56,0);
    -ms-box-shadow: 0 0 0 15px rgba(250,173,56,0);
    -o-box-shadow: 0 0 0 15px rgba(250,173,56,0);
    box-shadow: 0 0 0 15px rgba(250,173,56,0);
    -webkit-transition: box-shadow .8s ease-in-out;
    -moz-transition: box-shadow .8s ease-in-out;
    -ms-transition: box-shadow .8s ease-in-out;
    -o-transition: box-shadow .8s ease-in-out;
    transition: box-shadow .8s ease-in-out;
    background: #d95000;
    transform-origin: 50% 50% 0
}

.callback_phone_button:hover .callback_phone_body {
    background: #d95000;
    -webkit-box-shadow: 0 0 0 0 rgba(250,173,56,1);
    -moz-box-shadow: 0 0 0 0 rgba(250,173,56,1);
    -ms-box-shadow: 0 0 0 0 rgba(250,173,56,1);
    -o-box-shadow: 0 0 0 0 rgba(250,173,56,1);
    box-shadow: 0 0 0 0 rgba(250,173,56,1)
}

.callback_phone_circle {
    background: #d95000;
    height: 70px;
    width: 70px;
    position: absolute;
    left: 65px;
    top: 65px;
    z-index: 999991;
    border: 1px solid #d95000;
    border-radius: 50%;
    -webkit-animation: ringostat_pulse2 2.5s infinite ease-in-out;
    -moz-animation: ringostat_pulse2 2.5s infinite ease-in-out;
    -ms-animation: ringostat_pulse2 2.5s infinite ease-in-out;
    -o-animation: ringostat_pulse2 2.5s infinite ease-in-out;
    animation: ringostat_pulse2 2.5s infinite ease-in-out;
    transform-origin: 50% 50% 0
}

.callback_phone_circle2 {
    background: #d95000;
    transform-origin: 50% 50% 0
}

.callback_phone_icon {
    cursor: pointer;
    width: 60px;
    height: 60px;
    top: 70px;
    left: 70px;
    position: absolute;
    background-image: url(https://proftechpol.ru/assets/images/icons/phone_icon.png);
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 999993;
    transform-origin: 50% 50% 0
}

.callback_phone_button:hover .callback_phone_icon {
    -webkittext-shadow: 0 0 12px rgba(255,255,255,1);
    -moz-text-shadow: 0 0 12px rgba(255,255,255,1);
    -ms-text-shadow: 0 0 12px rgba(255,255,255,1);
    -o-text-shadow: 0 0 12px rgba(255,255,255,1);
    text-shadow: 0 0 12px rgba(255,255,255,1)
}

@-webkit-keyframes ringostat_pulse {
    0% {
        -webkit-transform: scale(0.5);
        opacity: .3
    }

    50% {
        -webkit-transform: scale(0.7);
        opacity: .2
    }

    100% {
        -webkit-transform: scale(0.5);
        opacity: 0
    }
}

@-moz-keyframes ringostat_pulse {
    0% {
        -moz-transform: scale(0.5);
        opacity: .3
    }

    50% {
        -moz-transform: scale(0.7);
        opacity: .2
    }

    100% {
        -moz-transform: scale(0.5);
        opacity: 0
    }
}

@-o-keyframes ringostat_pulse {
    0% {
        -o-transform: scale(0.5);
        opacity: .3
    }

    50% {
        -o-transform: scale(0.7);
        opacity: .2
    }

    100% {
        -o-transform: scale(0.5);
        opacity: 0
    }
}

@-ms-keyframes ringostat_pulse {
    0% {
        -ms-transform: scale(0.5);
        opacity: .3
    }

    50% {
        -ms-transform: scale(0.7);
        opacity: .2
    }

    100% {
        -ms-transform: scale(0.5);
        opacity: 0
    }
}

@keyframes ringostat_pulse {
    0% {
        transform: scale(0.5);
        opacity: .3
    }

    50% {
        transform: scale(0.7);
        opacity: .2
    }

    100% {
        transform: scale(0.5);
        opacity: 0
    }
}

@-webkit-keyframes ringostat_pulse2 {
    0% {
        -webkit-transform: scale(2);
        opacity: 0
    }

    100% {
        -webkit-transform: scale(0.6);
        opacity: .8
    }
}

@-moz-keyframes ringostat_pulse2 {
    0% {
        -moz-transform: scale(2);
        opacity: 0
    }

    100% {
        -moz-transform: scale(0.6);
        opacity: .8
    }
}

@-o-keyframes ringostat_pulse2 {
    0% {
        -o-transform: scale(2);
        opacity: 0
    }

    100% {
        -o-transform: scale(0.6);
        opacity: .8
    }
}

@-ms-keyframes ringostat_pulse2 {
    0% {
        -ms-transform: scale(2);
        opacity: 0
    }

    100% {
        -ms-transform: scale(0.6);
        opacity: .8
    }
}

@keyframes ringostat_pulse2 {
    0% {
        transform: scale(2);
        opacity: 0
    }

    100% {
        transform: scale(0.6);
        opacity: .8
    }
}

.pt3 {
    padding-top: 3rem;
}

.mt-1r {
    margin-top: 1rem;
}

.docs-navbar {
    background: rgba(255, 255, 255, 0.95) ;
    transition: 250ms;
    height: 3.8rem;
    position: fixed;
    z-index: 1002;
    width: 100%;
    max-width: 976px;
}

.docs-navbar .header-tel {
    position: absolute;
    right: 0.7rem;
    top: 1rem;
}

.docs-navbar .header-tel a {
    font-size: 1rem;
    color: #3b4351;
}

.docs-navbar .header-tel .phone-note {
    position: relative;
    font-size: 0.58rem;
    width: fit-content;
    bottom: 0.5rem;
    left: 4.9rem;
}

.off-canvas {
    max-width: 976px;
    margin: 0 auto;
}

.off-canvas .off-canvas-toggle {
    font-size: 1rem;
    left: 1.5rem;
    position: absolute;
    top: 1rem
}

.off-canvas .off-canvas-content {
    padding: 0;
    
    width: 38rem;
}

header img {
    width: 100%;
    display: block;
}



#eggs_logo {
    width: 18%;
    margin: 0;
    position: absolute;
    top: 2%;
    left: 0rem;
}

#egg_txt_time  text tspan {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
}

#egg_txt_money  text tspan {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
}

#egg_txt_volume  text tspan {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
}

#egg_txt_roi  text tspan {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
}

#eggs_txt {
    width: 100%;
    margin: 0;
    position: absolute;
    top: 4.2%;
}

#eggs_txt .column {
    padding: 0 7.6%;
}

#egg_time {
    width:0;
    height:0;
}

#egg_time_holder {
    transition-duration: 400ms;

}

.egg_animated {
    transform: rotate(180deg);
}

#eggs_txt_holder {
    position: absolute;
    bottom: 128.2rem;
    right: 36.9rem;
    top: 8.2rem;
}

#eggs_slider svg {
    width: 1rem;
    height: 1rem;
}
#eggs_slider svg:hover {
    cursor: pointer;
}

#eggs_slider {
    position: absolute;
    bottom: 232.4rem;
    left: 2.4rem;
    height: 1rem;
}


#logo {
   height: 16.5rem; 
}

#background_logo {
    height: 16.5rem;
}

#big_logo {
    width: 270px;
    height: 270px;
    position: relative;
    margin: 0 auto;
    bottom: 16rem;
    border: 1px solid;
    padding: 2px;
    border-radius: 50%;
}

.offer {
    background-color: #444;
    height: 8.3rem;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-top: 0.7rem;
    border-top: 1px solid #fff;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
    color: #f5a623;
    font-size: 1.66rem;
    margin-top: 0.3rem;
}

h1 span {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
    color: #fff;
}

#offer_text {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
    color: #f5a623;
    position: relative;
    bottom: 0.6rem;
}

#offer_text::before {
    content: '';
    position: absolute;
    top: 0.55rem;
    left: 6.2rem;
    display: block;
    border-top: 2px solid #f5a623;
    width: 5rem;
}

#offer_text::after {
    content: '';
    position: absolute;
    top: 0.55rem;
    right: 6.2rem;
    display: block;
    border-top: 2px solid #f5a623;
    width: 5rem;
}

#offer_text span {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
    color: #fff;
}

.header-stages {
    min-height: 86px;
    margin-right: 2.5rem;
    justify-content: center;
}

.header-stages li {
    list-style: none;
    margin: 0 0 0 2rem;
}

.header-stages li:hover {
    cursor: pointer;
}

.header-plate {
    position: relative;
    bottom: 0.95rem;
    height: fit-content;
    width: 42rem;
    border: 2px solid;
    border-radius: 0.7rem;
}

.header-plate button {
    margin-bottom: 1rem;
}

.header-plate-sm {
    width: 34rem;
}

.header-plate-sm .header-gear1 {
    left: 0.4rem;
}

.header-plate-sm .header-gear2 {
    right: 0.4rem;
}

.header-gear1 {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: all 1s ease-in-out;
    position: absolute;
    top: 35px;
    left: 4.4rem;
    width: 90px;
    height: 90px;
}

.header-gear2 {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: all 1s ease-in-out;
    position: absolute;
    top: 35px;
    right: 4.4rem;
    width: 90px;
    height: 90px;
}

.header-plate:hover .header-gear1, .cta-panel:hover .gear1, .calc-panel:hover .gear1 {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.header-plate:hover .header-gear2, .cta-panel:hover .gear2, .calc-panel:hover .gear2 {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.header-plate-text {
    margin: 0 auto;
    width: 25rem;
}

.header-plate-text h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
    font-size: 2em;
    line-height: 1.7rem;
    margin-top: 1rem;
}

.header-plate-text h2 span {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
}

#economy-block {
    margin: 2rem 0 0.2rem 0;
}

.visable-nav {
    background: transparent !important;
}

.active {
    fill: #000
}

.icon64 {
    transition: 500ms;
    fill: #4A4A4A;
    width: 64px;
    height: 64px
}

.icon85 {
    transition: 500ms;
    fill: #000;
    width: 85px;
    height: 85px
}

.off-canvas .off-canvas-sidebar {
    background: #f7f8f9;
    bottom: 0;
    overflow-y: auto;
    position: fixed;
    top: 0;
    -webkit-transition: -webkit-transform .25s;
    transition: -webkit-transform .25s;
    transition: transform .25s; 
    transition: transform .25s, -webkit-transform .25s;
    z-index: 2999;
    left: unset;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    width: 12rem;
    overflow: unset;
}

.sidebar-active {
    transform: translateX(-0%) !important;
}

.sidebar-active + .js-closeSidebar {
    display: block;
    left: unset;
    right: unset;
    width: 48.8rem;
}

.nav .nav-item a:not(.li-side-header) {
    padding: 0;
    font-size: .54rem;
}

.nav .nav-item .li-side-header {
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
}

.js-closeSidebar {
    z-index: 2998;
}

#sidebar_head {
    position: absolute;
    left: -14rem;
    width: 14rem;
    height: 100%;
    background-color: #fff;
    z-index: 3000;
}

#stagesStorage img {
    width: 100%
}

#stagesStorage .timeline-icon {
    background: #000 !important
}

#stagesStorage figure {
    margin-left: 0;
}

.navbar-brand svg {
    width: 2.4rem;
    height: 2.4rem;
    fill: #3b4351;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: all 1s ease-in-out;
}

.navbar-brand:hover svg {
    cursor: pointer;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.sub-title {
    font-size: 1.1rem;
    border-bottom: 2px solid;
    width: 35.3rem;
    padding-bottom: 0.1rem;
    margin-bottom: 0;
    margin-top: 3rem;
}

.obj-header h3 {
    font-size: 1.8rem;
    max-width: 30rem;
}

.obj-header img {
    width: 23rem;
}

.obj-header a {
    width: 8rem;
}

.obj-header small {
    font-size: 1.3rem;
}

.obj-body p {
    font-size: 0.7rem;
    width: 27rem;
    margin-top: 1rem;
}

.obj-body ul {
    font-size: 0.7rem;
    width: 27rem;
    margin-top: 1rem;
    list-style: none;
}

.obj-body ul:not(.survey_points) li::before {
    content: '';
    display: inline-block;
    width: 4px;
    border-radius: 50%;
    margin-bottom: 3px;
    margin-right: 5px;
    height: 4px;
    background-color: #000;

}

.obj-footer {
    margin-top: 1rem;
}

.cta-panel {
    height: 7rem;
    width: 29rem;
    border: 2px solid;
    border-radius: 0.7rem;
}

.cta-panel .h5 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
    font-size: 1.2rem;
    line-height: 1.6rem;
    margin-top: 0.7rem; 
}

.cta-panel .h5 span {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
}

.cta-panel .h5 small {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
}

.cta-panel button {
    margin-top: 0.4rem;
}

.gear1 {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: all 1s ease-in-out;
    width: 3.5rem;
    height: 3.5rem;
    top: 1.6rem;
    left: 1rem
    
}

.gear2 {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: all 1s ease-in-out;
    width: 3.5rem;
    height: 3.5rem;
    top: 1.6rem;
    right: 1rem
}

section:not(.first-section) { 
    margin-top: 2rem;
}

#sidebar .docs-nav {
    padding: 0rem 1rem;
    top: 0px;
    position: fixed;
}

#homePageSidebar ul > li {
    font-size: 0.7rem;
    line-height: 0.9rem;
    margin: 0
}

#polyPageSidebar ul > li {
    font-size: 0.7rem;
    line-height: 0.9rem;
    margin: 0
}

#skladyPageSidebar ul > li {
    font-size: 0.7rem;
    line-height: 0.73rem;
    margin: 0
}
.navbar-brand small {
    line-height: .6rem;
    font-size: .41rem;
    letter-spacing: .03rem;
    display: block;
}

.navbar-brand a {
    color: #3b4351;
    font-weight: 200;
    font-size: .75rem;
}

.navbar-brand:hover a {
    text-decoration: none;
    color: orange;
    fill: orange;
    cursor: pointer;
}

.navbar-brand a span {
    font-weight: 500;
    font-size: .6rem;
}

.navbar-brand svg {
    width: 2.4rem;
    height: 2.4rem;
    fill: #3b4351;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: all 1s ease-in-out;
}

.navbar-brand:hover svg {
    cursor: pointer;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.navbar small {
    color: #9c9c9c;
}

.navbar-brand .tile-content {
    padding-bottom: .5rem;
}

.sidebar-relative {
    position: relative !important;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-transform: none;
    transform: none;
    width: 12rem;
    z-index: 1004;
    transform: none !important;
}

footer {
    color: #000;
    padding-top: 0.3rem;
    padding-bottom: 2rem;
    margin-top: 1rem;
}
footer p {
    margin: 0;
    font-size: 14px;
}

.modal.acitve {
    z-index: 4000 !important;
}

.survey_points ,#reasonsFloor ul {
    margin: unset;
    width: 100% !important;
}

.survey_points li .tile-subtitle,#reasonsFloor ul li .tile-subtitle {
    white-space: normal !important;
    line-height: 0.9rem;
}

.tile-title {
    font-size: 0.9rem;
}

#reasonsFloor .tile-subtitle {
    margin-top: 0.5rem !important;
}

#reasonsFloor ul {
    padding-left: 2rem;
    margin-top: 1rem;
}

#reasonsFloor ul li {
    margin: 0;
}

#reasonsFloor .tile {
    margin-top: 1rem;
}

#callback_modal {
    z-index: 3000;
}

.reasons-description {
    margin-top: 1rem;
    border: 1px solid;
    border-radius: 4px;
    width: 29rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.reasons-description p {
    margin: 0;
    font-size: 0.7rem;
}

.survey_points li {
    margin-top: 1rem
}

.survey_points li .avatar {
    margin-bottom: 0.5rem 
}

.header-stages-poly {
    justify-content: space-evenly !important;
}

.calc-panel {
    height: 6rem;
    width: 35rem;
    border: 2px solid;
    border-radius: 0.7rem;
}
.calc-panel .header-plate-text {
    padding-top: 0.6rem;
    width: 31rem;
}
.calc-panel .h5 {
    font-size: 0.8rem;
}
.calc-panel .input-group {
    display: flex !important;
    width: 21rem;
    margin-top: 0.6rem;
}
.calc-panel button {
    margin: 0
}

.sidebar-calculate {
    top: 20rem;
    background-color: #303742;
    width: 12rem;
    height: 9rem;
    margin-left: -1rem;
}

.sidebar-calculate a {
    width: 10rem;
    margin-top: 0.4rem;
}

.sidebar-slider {
    top: 29rem;
    padding-top: 0.7rem;
    width: 12rem;
    height: 8.7rem;
    margin-left: -1rem;
}

.calc-title {
    width: 10rem;
    padding-top: 1.1rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
    color: #fff;
}

.calc-title small {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
    display: block;
    color: #f5a623;
}

.slider {
    height: 6.8rem;
    bottom: 0.4rem;
    background-color: #000;
}

.slider img {
    height: 6rem;
    position: absolute;
    top: 0.8rem;
}

.slider-description {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
    font-size: 0.6rem;
    bottom: 7.2rem;
    color: #fff;
}

.sidebar-slider a {
    width: 6rem;
    bottom: 3.5rem;
    left: 3rem;
}

.slider-title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
    font-size: 0.7rem;
    width: 11rem;
    margin-bottom: 0.5rem;
}

.sidebar-slider .back-arrow {
    top: 3rem;
    left: 0;
}
.sidebar-slider .forward-arrow {
    top: 3rem;
    right: 0;
}

.phone {
    width: 1rem;
    height: 1rem;
    fill: #000;
}

#poly_types .col-4 {
    margin-bottom: 0.5rem;
}

#poly_types .col-4 .panel {
    height: 100%;
} 

@media (max-width: 768px) {
    #logo {
        height: 14.85rem;
    }
    #offer_text {
        bottom: 0rem;
    }
    #offer_text::before {
        left: 1rem;
    }
    #offer_text::after  {
        right: 1rem;
    }
    h1 {
        font-size: 1.3rem;
    }
    .header-plate {
        width: 34rem;
    }
    
    .header-plate .header-gear1 {
        left: 0.4rem;
    }
    
    .header-plate .header-gear2 {
        right: 0.4rem;
    }
    .sub-title {
        margin-top: 2rem;
    }
    .header-plate {
        bottom: 1.3rem;
        width: 35rem;
    }
    .icon85 {
        width: 78px;
    }
    .header-stages li {
        margin: 0 0 0 1rem;
        height: fit-content;
    }
    #eggs_txt_holder {
        left: 0rem;
        top: 2.7%; 
        width: 18%;
        height: 2.3%;
    }
}

@media (max-width: 425px) {
    #stagesStorage figure {
        margin: 0
    }
    #big_logo {
        width: 150px;
        height: 150px;
        bottom: 13rem;
    }
    #logo {
        height: 11.9rem;
    }
    .offer {
        height: 4rem;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding-top: 0.4rem;
    }
    h1 {
        font-size: 0.73rem;
        margin-top: 0.2rem;
        margin-bottom: 0.13rem;
    }
    #offer_text {
        bottom: 0rem;
        font-size: 0.4rem;
    }
    #offer_text::before {
        top: 0.25rem;
        width: 2.7rem;
    }
    #offer_text::after {
        top: 0.25rem;
        width: 2.7rem;
    }
    #homePageSidebar ul > li {
        height: 1.1rem;
        line-height: 0.9rem;
    }
    .header-plate {
        bottom: 1.3rem;
        width: 18rem;
        height: 4rem;
        border-radius: 0.4rem;
    }
    .header-plate button {
        font-size: 0.5rem;
        padding: 0rem;
        height: 1.2rem;
        width: 6rem;
    }
    .header-plate-text {
        width: 14rem;
    }
    .header-plate-text h2 {
        font-size: 1em;
        line-height: 1rem;
        margin-top: 0.4rem;
        margin-bottom: 0rem;
    }
    .header-gear1 {
        left: 1rem;
        top: 12px;    
        width: 50px;
        height: 50px;
    }
    .header-gear2 {
        right: 1rem;
        top: 12px;    
        width: 50px;
        height: 50px;
    }
    .header-stages {
        min-height: 50px;
    }
    .header-stages {
        min-height: 50px;
        margin-right: 1.7rem;
        margin-top: 0.5rem;
    }
    .header-stages li {
        margin: 0 0 0 0.4rem;
    }
    .icon64 {
        width: 32px;
    }
    .icon85 {
        width: 41px;
    }
    .sub-title {
        margin-top: 1rem;
        font-size: 0.7rem;
        width: 20rem;
    }
    .obj-header h3 {
        font-size: 1.1rem;
        margin-top: 0.2rem;
        max-width: 100%;
    }
    .obj-header small {
        font-size: 0.9rem;
    }
    .obj-header img {
        width: 15rem;
    }
    .obj-body p {
        width: 18rem;
        margin-top: 0;
    }
    .obj-body ul {
        width: 18rem;
    }
    .cta-panel {
        height: 6rem;
        width: 20rem;
        border-radius: 0.6rem;
    }
    .gear1 {
        top: 1rem;
        left: 0rem;
    }
    .gear2 {
        top: 1rem;
        right: 0rem;
    }
    .cta-panel .h5 {
        font-size: 0.8rem;
        line-height: 1rem;
        margin-top: 0.8rem;
    }
    .reasons-description {
        width: 19rem;
    }
    .reasons-description p {
        font-size: 0.6rem;
    }
    .calc-panel {
        width: 19rem;
        border-radius: 0.4rem;
    }
    .calc-panel .header-plate-text {
        padding-top: 0.4rem;
        width: 19rem;
    }
    .calc-panel .h5 {
        font-size: 0.5rem;
    }
    .calc-panel .input-group {
        width: 12rem;
        margin-top: 1.1rem;
    }
    .calc-panel .gear1 {
        top: 1.4rem;
    }
    .calc-panel .gear2 {
        top: 1.4rem;
    }
    .tile.tile-centered .tile-title, .tile.tile-centered .tile-subtitle {
        white-space: unset;
    }
    .survey_points .tile-title {
        text-align: center
    }
    .survey_points .tile-subtitle {
        text-align: center
    }
    #homePageSidebar .nav .nav-item a:not(.li-side-header) {
        font-size: 0.55rem;
    }
    .docs-nav {
        position: relative !important;
        width: 13rem;
    }
    .sidebar-calculate {
        position: unset !important;
    }
    .sidebar-slider {
        position: unset !important;
    }
    h3 {
        font-size: 1rem;
    }
    .calc-panel .input-group {
        width: 15rem;
        margin-top: 0.5rem;
    }
    .calc-panel .gear1 {
        display: none
    } 
    .calc-panel .gear2 {
        display: none
    } 
    .calc-panel .h5 {
        font-size: 0.8rem;
    }
    .sub-title {
        font-size: 0.6rem;
    }
    #eggs_txt {
        top: 3.7%;
    }
    #eggs_logo {
        top: 1.4%;
    }
    #eggs_txt_holder {
        top: 1.8%;
        height: 1.2%;
    }
}

@media (max-width: 375px) {
    #logo {
        height: 11.5rem;
    }
    .header-stages li {
        margin: 0 0 0 0.3rem;
    }
    .sub-title {
        font-size: 0.6rem;
        width: 18rem;
    }
    .cta-panel {
        width: 18rem;
    }
    .cta-panel .h5 {
        font-size: 0.7rem;
    }
    #offer_text::before {
        display: none;
        top: 0.25rem;
        width: 2.7rem;
    }
    #offer_text::after {
        display: none;
        top: 0.25rem;
        width: 2.7rem;
    }
    .calc-panel {
        width: 18rem;
    }
    .calc-panel .header-plate-text {
        width: 18rem;
    }
    .reasons-description {
        width: 18rem;
    }
    .calc-panel .input-group {
        width: 15rem;
        margin-top: 0.6rem;
    }
    .calc-panel .gear1 {
        display: none
    } 
    .calc-panel .gear2 {
        display: none
    } 
    .calc-panel .h5 {
        font-size: 0.8rem;
    }
    .sub-title {
        font-size: 0.5rem;
    }
    #eggs_logo {
        top: 1.3%;
    }
    #eggs_txt {
        top: 3.4%;
    }
    #eggs_txt_holder {
        top: 1.7%;
        height: 0.9%;
    }
    
}

@media (max-width: 320px) {
    #logo {
        height: 11rem;
    }
    .header-stages li {
        margin: 0 0 0 0.1rem;
    }
    .sub-title {
        font-size: 0.5rem;
        width: 15rem;
    }
    .cta-panel {
        width: 15rem;
    }
    .cta-panel .h5 {
        font-size: 0.7rem;
    }
    .header-plate {
        width: 15rem;
    }
    .obj-body p {
        width: 15rem;
    }
    .icon64 {
        width: 30px;
    }
    .icon85 {
        width: 39px;
    }
    .obj-body ul {
        width: 15rem;
    }
    .header-plate .header-gear1 {
        DISPLAY: NONE;
    }
    .header-plate .header-gear2 {
        DISPLAY: NONE;
    }
    .gear1 {
        DISPLAY: NONE;
    }
    .gear2 {
        DISPLAY: NONE;
    }
    .cta-panel .h5 {
        font-size: 0.8rem;
    }
    .cta-panel {
        border-radius: 0.5rem;
    }
    .docs-navbar .header-tel .phone-note {
        font-size: 0.54rem;
        bottom: 0.7rem;
    }
    .docs-navbar .header-tel a {
        font-size: 0.9rem;
    }
    #big_logo {
        width: 130px;
        height: 130px;
    }
    .calc-panel {
        width: 15rem;
    }
    .calc-panel .header-plate-text {
        width: 14rem;
    }
    .calc-panel .h5 {
        font-size: 0.6rem;
    }
    .calc-panel .input-group {
        margin-top: 0.6rem;
    }
    .reasons-description {
        width: 15rem;
    }
    h3 {
        font-size: 0.9rem;
    }
    .calc-panel .input-group {
        width: 14rem;
        margin-top: 0.5rem;
    }
    .calc-panel .gear1 {
        display: none
    } 
    .calc-panel .gear2 {
        display: none
    } 
    .calc-panel .h5 {
        font-size: 0.6rem;
    }
    .sub-title {
        font-size: 0.4rem;
    }
    #eggs_logo {
        top: 1.4%;
    }
    #eggs_txt {
        top: 2.95%;
    }
    #eggs_txt_holder {
        height: 0.8%;
    }
}