
.header-stages.d-flex
    include ../svg/icon_idea.pug 
    include ../svg/icon_project.pug 
    include ../svg/icon_coord.pug
    include ../svg/icon_design.pug
    include ../svg/icon_meeting.pug
    include ../svg/icon_preps.pug
    include ../svg/icon_build.pug
    include ../svg/icon_greeting.pug
.header-plate