.logo-txt
    include ../svg/logo_txt.pug 
    h1.text-center ПРОМЫШЛЕННЫЕ ПОЛЫ <span>ОТ ПРОФЕССИОНАЛОВ</span>
#offer_text.text-center.text-uppercase <span>МЫ ПОДБЕРЁМ ВАМ ОПТИМАЛЬНЫЙ ПОЛ</span> ПОД ЛЮБУЮ ВАШУ ПОДТРЕБНОСТЬ