a(name="hotel")
.obj-header
    .sub-title.text-center.p-centered МНОГОФУНКЦИОНАЛЬНЫЕ ОБЪЕКТЫ
        small.d-block.text-gray ОТЕЛИ, СПОРТИВНЫЕ И ИГРОВЫЕ ЦЕНТРЫ
    .svgHolder(data-src="./images/hotel.svg")
    //- button.btn.p-centered ПОДРОБНЕЕ
.obj-body
    p.p-centered Многие люди спрашивают, что делать выходной? Куда сходить?<br/>Благодаря появлению спортивных и игровых центров посетители могут свободно проводить в них время.
    p.p-centered Причем, в центрах можно занять себя и детей.<br/>Человек приходит тратить деньги и отдыхать. Дети развлекаются играя в боулинг, на игровых автоматах, проходя квесты. Так же занимаются спортом: плавают в бассейне, прыгают на батуте, взбираются по скалам, тренируюутся на тренажёрах. В таких центрах вы проводите день с пользой для здоровья со всей семьей.
    p.p-centered Поэтому такие центры собирают много людей и строить их очень прибыльно. Так же, как и отели. Любой человек, который приехал в незнакомый город, должен позаботиться о своих вещах, деньгах и безопасности. В этом и помогает отель, в котором можно отдохнуть, оставить свои вещи и не волноваться об их безопасности.
.obj-footer
    .cta-panel.p-centered.p-relative.text-uppercase(data-cta="Вам нужна консультация по постройке <span class='d-block'>многофункциональных объектов?</span>", data-btn="УЗНАТЬ")
        svg.gear1.p-absolute
            use.g(href="#icon-logo",xmlns:xlink="http://www.w3.org/1999/xlink", x="8.7", y="8.5")
        .header-plate-text.text-center
            .h5.text-uppercase.text-center 
        button.btn.btn-error.text-bold.p-centered  УЗНАТЬ СТОИМОСТЬ
        svg.gear2.p-absolute
            use.g(href="#icon-logo",xmlns:xlink="http://www.w3.org/1999/xlink", x="8.7", y="8.5")

