img.pt3(src="./images/Sklad.svg")
//- #eggs_logo
//-     #egg_time_holder
//-     #egg_money_holder.column.col-3
//-     #egg_volume_holder.column.col-3
//-     #egg_roi_holder.column.col-3
//-         #eggs_txt.columns
//-     .column.col-3
//-         include ../svg/eggs_logo/EggTime.svg
//-     .column.col-3
//-         include ../svg/eggs_logo/EggMoney.svg
//-     .column.col-3
//-         include ../svg/eggs_logo/EggValue.svg
//-     .column.col-3
//-         include ../svg/eggs_logo/EggReturn.svg
#eggs_logo
    img#eggTime(src="./images/EggTime.svg")
    img#eggMoney(src="./images/EggMoney.svg")
    img#eggValue(src="./images/EggValue.svg")
    img#eggReturn(src="./images/EggReturn.svg")