.docs-nav.animated.delay-260ms
    .navbar-section.tile.tile-centered.navbar-brand.m-2(style="position: relative;left: -15px;")
        .tile-icon
            svg
                use(href="#icon-logo",xmlns:xlink="http://www.w3.org/1999/xlink", x="5.6", y="5.6")
        .tile-content
            .tile-title
                a(href="/")
                    span ПРОФТЕХИНЖИНИРИНГ
                    small.d-block ИНЖИНИРИНГОВАЯ КОМПАНИЯ<br>ПОЛНОГО ЦИКЛА
    ul#polyPageSidebar.nav.sidebar-font
        li.nav-item.sidebar-not
            a.li-side-header МЫ УСТАНАВЛИВАЕМ ЛЮБЫЕ<br/>ПРОМЫШЛЕННЫЕ ПОЛЫ:
            ul.nav.d-hide.animated.fadeIn.faster
                li.nav-item.text-bold
                    a(href="https://proftechpol.ru/topping-poly") Топпинг полы
                li.nav-item.text-bold
                    a(href="https://proftechpol.ru/polimernye-poly") Полимерные полы
                li.nav-item.text-bold
                    a(href="https://proftechpol.ru/remont") Ремонт промышленных полов
            button.btn.btn-sm.p-relative.mb-2.mt-1 ПОДРОБНЕЕ
        li.nav-item.sidebar-not
            a.li-side-header ДЛЯ ПОМЕЩЕНИЙ ЛЮБЫХ<br/>ВИДОВ НАЗНАЧЕНИЯ:
            ul.nav.d-hide.animated.fadeIn.faster
                li.nav-item.text-bold
                    a(href="https://proftechpol.ru/poly-dlya-sklada") Полы для склада
                li.nav-item.text-bold
                    a(href="https://proftechpol.ru/proizvodstvenye-poly") Производственные полы
                li.nav-item.text-bold
                    a(href="https://proftechpol.ru/poly-dlya-parkingov") Полы для паркинга
                li.nav-item.text-bold
                    a(href="https://proftechpol.ru/poly-dlya-torgovyh-tsentrov") Полы для торговых центров
                li.nav-item.text-bold
                    a(href="https://proftechpol.ru/poly-dlya-obschestvenih-i-administrativnih-zdaniy") и административных зданий
                li.nav-item.text-bold
                    a(href="https://proftechpol.ru/poly-dlya-avtoservisov") Полы для автосервисов
                li.nav-item.text-bold
                    a(href="https://proftechpol.ru/sportivnie-poly-i-pokrytiya") Спортивные полы и покрытия 
                li.nav-item.text-bold
                    a(href="https://proftechpol.ru/poly-dlya-selskogo-hozyaistva") Полы для сельского хозяйства
            button.btn.btn-sm.p-relative.mb-2.mt-1 ПОДРОБНЕЕ
        .sidebar-calculate
            .calc-title.p-centered КАЛЬКУЛЯТОР<br/>ПРОМЫШЛЕННОГО ПОЛА
                small.d-block РАССЧИТАЕМ СТОИМОСТЬ ВАШЕГО<br/> ПРОМЫШЛЕННОГО ПОЛА ЗА 5 МИНУТ
            a(href="https://proftechpol.ru/calculator-promyshlennogo-pola").btn.btn-error.p-centered.text-bold.goal_item(data-goal="bt_callback_calc") РАССЧИТАТЬ
        .sidebar-slider
            .slider-title.p-centered.text-center Портфолио наших объектов: 
            .slider.p-relative
                img.animated.faster(src="", alt="")
                .back-arrow.p-absolute.c-hand
                    i.icon.icon-arrow-left.text-light
                .forward-arrow.p-absolute.c-hand
                    i.icon.icon-arrow-right.text-light
            .slider-description.p-relative.text-center.text-uppercase
            a.p-relative.btn-error.btn.btn-sm ПОСМОТРЕТЬ
