img.pt3(src="./images/skladyLogo.svg")
#eggs_logo
    #egg_time_holder
    //- #egg_money_holder.column.col-3
    //- #egg_volume_holder.column.col-3
    //- #egg_roi_holder.column.col-3
//- #eggs_txt.columns
    .column.col-3
        include ../svg/eggs_logo/egg_txt_time.svg
    .column.col-3
        include ../svg/eggs_logo/egg_txt_money.svg
    .column.col-3
        include ../svg/eggs_logo/egg_txt_volume.svg
    .column.col-3
        include ../svg/eggs_logo/egg_txt_roi.svg

svg#eggs_txt_holder
    use#eggs_txt.animated.fadeIn(href="#egg_txt_time")
#eggs_slider
    svg
        circle#egg_circle_time(cx="10", cy="10", r="5", name="0", fill="#000", stroke-width="1", stroke="rgb(0,0,0)")
    svg
        circle#egg_circle_money(cx="10", cy="10", r="5", name="1", fill="#fff", stroke-width="1", stroke="rgb(0,0,0)")
    svg
        circle#egg_circle_volume(cx="10", cy="10", r="5", name="2", fill="#fff", stroke-width="1", stroke="rgb(0,0,0)")
    svg
        circle#egg_circle_roi(cx="10", cy="10", r="5", name="3", fill="#fff", stroke-width="1", stroke="rgb(0,0,0)")