a(name="floor")
.obj-header
    .sub-title.text-center.p-centered КЛАДОЧНЫЕ РАБОТЫ
    .svgHolder(data-src="./images/floor.svg")
    //- button.btn.p-centered ПОДРОБНЕЕ
.obj-body
    p.p-centered Это одни их популярных видов работ.<br/>Разные материалы укладываются и скрепляются специальным раствором.
    p.p-centered.text-bold Материалами могут быть:
    ul.p-centered
        li Кирпич
        li Облегченный кирпич
        li Природный и керамический камень
.obj-footer
    .cta-panel.p-centered.p-relative.text-uppercase(data-cta="Вам нужна консультация по <span class='d-block'>кладке материалов?</span>", data-btn="УЗНАТЬ")
        svg.gear1.p-absolute
            use.g(href="#icon-logo",xmlns:xlink="http://www.w3.org/1999/xlink", x="8.7", y="8.5")
        .header-plate-text.text-center
            .h5.text-uppercase.text-center 
        button.btn.btn-error.text-bold.p-centered  УЗНАТЬ СТОИМОСТЬ
        svg.gear2.p-absolute
            use.g(href="#icon-logo",xmlns:xlink="http://www.w3.org/1999/xlink", x="8.7", y="8.5")

