img.pt3(src="./images/skladyLogo.svg")
#eggs_logo
    #egg_time_holder
    //- #egg_money_holder.column.col-3
    //- #egg_volume_holder.column.col-3
    //- #egg_roi_holder.column.col-3
//- #eggs_txt.columns
    .column.col-3
        include ../svg/eggs_logo/egg_txt_time.svg
    .column.col-3
        include ../svg/eggs_logo/egg_txt_money.svg
    .column.col-3
        include ../svg/eggs_logo/egg_txt_volume.svg
    .column.col-3
        include ../svg/eggs_logo/egg_txt_roi.svg

svg#eggs_txt_holder
    use#eggs_txt.animated.fadeIn(href="#egg_txt_time")