.docs-nav.animated
    .navbar-section.tile.tile-centered.navbar-brand.m-2(style="position: relative;left: -15px;")
        .tile-icon
            svg
                use(href="#icon-logo",xmlns:xlink="http://www.w3.org/1999/xlink", x="5.6", y="5.6")
        .tile-content
            .tile-title
                a(href="/")
                    span ПРОФТЕХИНЖИНИРИНГ
                    small.d-block ИНЖИНИРИНГОВАЯ КОМПАНИЯ<br>ПОЛНОГО ЦИКЛА
    ul#PolyPageSidebar.nav.sidebar-font
        li.nav-item.sidebar-not
            a.text-primary.text-bold МЫ УСТАНАВЛИВАЕМ ЛЮБЫЕ<br/>ПРОМЫШЛЕННЫЕ ПОЛЫ:
            ul.nav 
                li.nav-item
                    a(href="#") Топпинг полы
                li.nav-item
                    a(href="#") Полимерные полы
                li.nav-item
                    a(href="#") Ремонт промышленных полов

        li.nav-item.sidebar-not
            a.text-primary.text-bold ДЛЯ ПОМЕЩЕНИЙ ЛЮБЫХ<br/>ВИДОВ НАЗНАЧЕНИЯ:
            ul.nav 
                li.nav-item
                    a(href="#living") Полы для склада
                li.nav-item
                    a(href="#promObj") Производственные полы
                li.nav-item
                    a(href="#adminBuilding") Полы для паркинга
                li.nav-item
                    a(href="#hotel") Полы для торговых центров
                li.nav-item
                    a(href="#malls") и административных зданий
                li.nav-item
                    a(href="#malls") Полы для автосервисов
                li.nav-item
                    a(href="#malls") Спортивные полы и покрытия 
                li.nav-item
                    a(href="#malls") Полы для сельского хозяйства
    .sidebar-calculate
        .text-bold
            small
        a.btn.btn-error.text-bold РАССЧИТАТЬ
    .sidebar-slider
        .sub-title
        //- slider
        .sub-title-sm
        a.btn.btn-sm ПОСМОТРЕТЬ
