ul.header-stages.header-stages-poly.d-flex
    li#questions_holder.icon64.icon85(data-title="<span>МЫ СПРОЕКТИРУЕМ И ПОСТРОЕМ ДЛЯ ВАС</span> ЛЮБОЕ СКЛАДСКОЕ ПОМЕЩЕНИЕ")
        include ../svg/header_icons/icon_questions
    li#add_list_holder.icon64(data-title="<span>ОБСЛЕДУЕМ ВАШ ОБЪЕКТ И</span> ОПРЕДЕЛИМ НЕОБХОДИМОСТЬ КОНКРЕТНЫХ РАБОТ")
        include ../svg/header_icons/icon_add_list
    li#calculate_holder.icon64(data-title="<span>СДЕЛАЕМ ПРОЗРАЧНЫЙ И ТОЧНЫЙ</span>  РАСЧЁТ ВСЕХ ТРЕБУЕМЫХ РАБОТ")
        include ../svg/header_icons/icon_calculate
    li#agreement_holder.icon64(data-title="<span>ПОДПИШЕМ С ВАМИ ДОГОВОР С</span> ВЫГОДНЫМИ УСЛОВИЯМИ СОТРУДНИЧЕСТВА")
        include ../svg/header_icons/icon_agreement
    li#perform_holder.icon64(data-title="<span>ПРОФЕССИОНАЛЬНО ОСУЩЕСТВИМ</span> РАБОТЫ ПО СТРОИТЕЛЬСТВУ СКЛАДА")
        include ../svg/header_icons/icon_perform
    li#success_holder.icon64(data-title="<span>СДАДИМ ВАМ ГОТОВЫЙ СКЛАД ПО ВСЕМ</span> ДЕЙСТВУЮЩИМ СТАНДАРТАМ")
        include ../svg/header_icons/icon_success
.header-plate.p-centered
    svg.header-gear1
        use.g(href="#icon-logo",xmlns:xlink="http://www.w3.org/1999/xlink", x="11", y="11")
    .header-plate-text.text-center
        h2.text-uppercase.text-center Узнайте стоимость вашего
            span.d-block склада «под ключ»
        button.btn.btn-error.text-bold УЗНАТЬ СТОИМОСТЬ
    svg.header-gear2
        use.g(href="#icon-logo",xmlns:xlink="http://www.w3.org/1999/xlink", x="11", y="11")