h2.text-center.p-centered.text-bold МЫ БЫСТРО ПРОЕКТИРУЕМ И ВОЗВОДИМ НАДЕЖНЫЕ

section.first-section
    include ./chunk_sclady
section
    include ./chunk_poly
section
    include ./chunk_monolit
section
    include ./chunk_zemelnyeRab
section
    include ./chunk_promObj
section
    include ./chunk_malls
section
    include ./chunk_adminBuild
section
    include ./chunk_hotel
section
    include ./chunk_warming
section
    include ./chunk_itp
section
    include ./chunk_ctp
section
    include ./chunk_ventilation
section
    include ./chunk_cooling
section
    include ./chunk_water
section
    include ./chunk_suege
section
    include ./chunk_gas
section
    include ./chunk_lowVolt
section
    include ./chunk_security
section
    include ./chunk_facade
section
    include ./chunk_roof
section
    include ./chunk_waterResist
section
    include ./chunk_floor
section
    include ./chunk_roomDecoration
section
    include ./chunk_park
section
    include ./chunk_living
section
    include ./chunk_house
section
    include ./chunk_room
section
    include ./chunk_office