include ./trash/egg_time.pug

.sub-title.text-center.p-centered.text-bold ПРЕИМУЩЕСТВА ЗАКАЗАТЬ У НАС

section.first-section
    include ./sklady_sections/chunk_sklady_advantages.pug
    
.sub-title.text-center.p-centered.text-bold ОСНОВНЫЕ ЭТАПЫ РАБОТ

section.first-section
    include ./sklady_sections/chunk_sklady_main_steps.pug


