.sub-title.text-center.p-centered.text-bold МЫ БЫСТРО ПРОЕКТИРУЕМ И ВОЗВОДИМ НАДЕЖНЫЕ

section.first-section
    include ./objects/chunk_sklady
section
    include ./objects/chunk_poly
section
    include ./objects/chunk_monolit
section
    include ./objects/chunk_zemelnyeRab
section
    include ./objects/chunk_promObj
section
    include ./objects/chunk_malls
section
    include ./objects/chunk_adminBuild
section
    include ./objects/chunk_hotel
section
    include ./objects/chunk_warming
section
    include ./objects/chunk_itp
section
    include ./objects/chunk_ctp
section
    include ./objects/chunk_ventilation
section
    include ./objects/chunk_cooling
section
    include ./objects/chunk_water
section
    include ./objects/chunk_suege
section
    include ./objects/chunk_gas
section
    include ./objects/chunk_lowVolt
section
    include ./objects/chunk_security
section
    include ./objects/chunk_facade
section
    include ./objects/chunk_roof
section
    include ./objects/chunk_waterResist
section
    include ./objects/chunk_floor
section
    include ./objects/chunk_roomDecoration
section
    include ./objects/chunk_park
section
    include ./objects/chunk_living
section
    include ./objects/chunk_house
section
    include ./objects/chunk_room
section
    include ./objects/chunk_office