h2.text-center.p-centered.text-bold УКАЖИТЕ НАИБОЛЕЕ ВАЖНЫЕ ПАРАМЕТРЫ ДЛЯ УСТРОЙСТВА

section.first-section
    include ./poly_sections/chunk_params_floor.pug
    
h2.text-center.p-centered.text-bold ПЯТЬ ОБОСНОВАННЫХ ПРИЧИН ЗАКАЗАТЬ

section.first-section
    include ./poly_sections/chunk_reasons_floor.pug