.docs-nav
    .navbar-section.tile.tile-centered.navbar-brand.m-2(style="position: relative;left: -15px;")
        .tile-icon
            svg
                use(href="#icon-logo",xmlns:xlink="http://www.w3.org/1999/xlink", x="5.6", y="5.6")
        .tile-content
            .tile-title
                a(href="/")
                    span ПРОФТЕХИНЖИНИРИНГ
                    small.d-block ИНЖИНИРИНГОВАЯ КОМПАНИЯ<br>ПОЛНОГО ЦИКЛА
    //- <?xml version="1.0" encoding="UTF-8"?>
        <svg width="173px" height="652px" viewBox="0 0 173 652" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: Sketch 52.6 (67491) - http://www.bohemiancoding.com/sketch -->
            <title></title>
            <desc>Created with Sketch.</desc>
            <g id="Page-2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="SideBar">
                    <g id="cardProjects" transform="translate(0.000000, 0)">
                        <rect id="mainRect" stroke="#242424" fill="#F4F4F4" fill-rule="nonzero" x="25.5" y="0.5" width="147" height="93"></rect>
                        <g id="picProject" transform="translate(56.000000, 13.000000)" stroke="#231F20">
                            <path d="M24.5,14.8 L24.5,0.7 L84.8,0.7 L84.8,61.1 L24.5,61.1 M28.3,25.3 L28.3,61.1 L0.8,61.1 L0.8,15.2 L25.4,15.2" id="Path" fill="#F4A62A" fill-rule="nonzero"></path>
                            <path d="M38.9,24.8 L51.9,24.8 L51.9,61.1 M45.5,13.4 L45.5,1.5 M1.2,24.4 L18.2,24.4 M1.4,36.6 L18,36.6 L18,33.4 M24.8,3.5 L35.2,3.5 C35.2,3.5 34.5,13.7 24.4,12.1 M45.3,14.7 L55.7,14.7 C55.7,14.7 55,24.9 44.9,23.3 M68.1,60.7 L68.1,50.3 C68.1,50.3 78.3,51.1 76.7,61.1 M38.6,24.3 L39,34.7 C39,34.7 28.7,34.3 30,24.2 M26.5,33 L26.5,41.4 C26.5,41.4 18.2,40.8 19.6,32.7 M18.3,23.1 L10.3,23.1 C10.3,23.1 10.8,15.3 18.5,16.5" id="Path"></path>
                            <path d="M22.1,63.5 L7.8,63.5 C7.7,63.5 7.6,63.4 7.6,63.3 L7.6,58.9 C7.6,58.8 7.7,58.7 7.8,58.7 L22.1,58.7 C22.2,58.7 22.3,58.8 22.3,58.9 L22.3,63.3 C22.3,63.4 22.2,63.5 22.1,63.5 Z M47.9,63.5 L33.6,63.5 C33.5,63.5 33.4,63.4 33.4,63.3 L33.4,58.9 C33.4,58.8 33.5,58.7 33.6,58.7 L47.9,58.7 C48,58.7 48.1,58.8 48.1,58.9 L48.1,63.3 C48.1,63.4 48,63.5 47.9,63.5 Z M87,30 L87,43.9 C87,44.1 86.8,44.3 86.6,44.3 L82.6,44.3 C82.4,44.3 82.2,44.1 82.2,43.9 L82.2,30 C82.2,29.8 82.4,29.6 82.6,29.6 L86.6,29.6 C86.9,29.7 87,29.8 87,30 Z M87,10.3 L87,24.2 C87,24.4 86.8,24.6 86.6,24.6 L82.6,24.6 C82.4,24.6 82.2,24.4 82.2,24.2 L82.2,10.3 C82.2,10.1 82.4,9.9 82.6,9.9 L86.6,9.9 C86.9,9.9 87,10.1 87,10.3 Z M83.3,68.2 L57.2,68.2 C56.9,68.2 56.7,68 56.7,67.7 L56.7,62.2 C56.7,61.9 56.9,61.7 57.2,61.7 L83.3,61.7 C83.6,61.7 83.8,61.9 83.8,62.2 L83.8,67.7 C83.8,67.9 83.6,68.2 83.3,68.2 Z M18.2,25.6 L10.2,25.6 C10.2,25.6 10.7,33.4 18.4,32.2 L18.2,25.6 Z" id="Shape"></path>
                        </g>
                        <rect id="sideRect" stroke="#000000" fill="#E6E7E8" fill-rule="nonzero" x="0.5" y="0.5" width="25" height="93"></rect>
                        <text id="txtProjects" transform="translate(13.000000, 47.000000) rotate(-90.000000) translate(-13.000000, -47.000000) " font-family="HelveticaNeue-Bold, Helvetica Neue" font-size="7" font-weight="bold" line-spacing="8" fill="#000000">
                            <tspan x="-22" y="50">ПРОЕКТИРОВАНИЕ</tspan>
                        </text>
                    </g>
                    <g id="cardObjects" transform="translate(0.000000, 93.000000)">
                        <rect id="mainRect" stroke="#242424" fill="#F4F4F4" fill-rule="nonzero" x="25.5" y="0.5" width="147" height="93"></rect>
                        <g id="picObjects" transform="translate(63.000000, 10.000000)">
                            <path d="M57.7338129,68.1508314 L57.7338129,71.9655582 L51.4748201,75 L51.4748201,71.0985748 L51.3669065,70.9251781 L48.8848921,66.3301663 L56.1151079,65.9833729 L57.7338129,68.1508314 Z M56.0071942,2.52019002 L56.0071942,6.33491686 L49.1007194,15.6983373 C49.1007194,15.7850356 48.8848921,15.6983373 48.8848921,15.6983373 L48.8848921,12.1437055 L48.1294964,10.5831354 L48.1294964,10.4964371 L50.0719424,8.41567696 L50.3956835,7.28859857 L52.2302158,4.25415677 L54.4964029,2 L54.6043165,2 L56.0071942,2.52019002 Z M60,54.192399 L60,58.0938242 L55.8992806,60.1745843 L50.6115108,53.412114 L38.2014388,59.307601 L34.8561151,54.7992874 L34.8561151,50.9845606 L51.4748201,43.0950119 L54.1726619,46.8230404 L60,54.192399 Z M2.15827338,21.2470309 L0,25.9287411 L0,29.8301663 L5.61151079,31.6508314 L5.61151079,36.2458432 L0,37.5463183 L0,41.4477435 L2.15827338,46.8230404 L12.0863309,44.6555819 L12.0863309,24.4548694 L2.15827338,21.2470309 Z M38.3093525,10.4097387 L35.7194245,13.9643705 L35.7194245,17.8657957 L51.0431655,25.0617577 L53.6330935,21.5071259 L53.6330935,17.6057007 L38.3093525,10.4097387 Z M51.5827338,44.915677 L33.3453237,53.4988124 L15,45.0023753 L14.8920863,28.0961995 L33.1294964,19.5130641 L51.4748201,28.0095012 L51.5827338,39.9738717 L51.5827338,44.915677 Z M51.5827338,44.915677 L33.3453237,53.4988124 L33.3453237,47.4299287 L36.6906475,44.8289786 L49.7482014,40.0605701 L51.5827338,39.9738717 L51.5827338,44.915677 Z" id="Path" stroke="#000000" stroke-width="0.735" fill="#A7A9AC" fill-rule="nonzero"></path>
                            <polygon id="Path" stroke="#231F20" stroke-width="0.5" fill="#F4A62A" points="33.1058824 49 15.1058824 40.5867347 15 23.5867347 32.8941176 15 50.8941176 23.5 51 40.4132653"></polygon>
                            <polygon id="Path" stroke="#000000" stroke-width="0.75" fill="#E6E7E8" points="33 43 33 22 43.8971963 27.2073171 44 37.7073171"></polygon>
                            <path d="M50.254902,48.0358566 L50.254902,53.1752988 L37.8529412,59 L37.8529412,55.1454183 L39.254902,52.4043825 L44.9705882,50.6912351 L50.254902,48.0358566 Z M44.5392157,31.0756972 L33,25.8505976 L33,21.9960159 L44.5392157,27.2211155 L44.5392157,31.0756972 Z M59.6372549,16 L59.6372549,29.7908367 L66,29.7908367 L66,16 L59.6372549,16 Z" id="Path" stroke="#000000" stroke-width="0.735" fill="#A7A9AC" fill-rule="nonzero"></path>
                            <polygon id="Rectangle" stroke="#231F20" stroke-width="0.5" fill="#F4A62A" points="59 16 65 16 65 26 59 26"></polygon>
                            <path d="M55.2773723,2.59036145 L55.2773723,6.47590361 L48.3978102,16.060241 L43,13.4698795 L43,9.58433735 L49.879562,0 L53.9014599,1.89959839 L55.2773723,2.59036145 Z M71.8941606,28.9257028 L71.8941606,28.8393574 L53.1605839,28.8393574 L53.1605839,38.7690763 L66.2846715,38.7690763 L66.2846715,43 L72,43 L72,28.9257028 L71.8941606,28.9257028 Z" id="Path" stroke="#000000" stroke-width="0.735" fill="#A7A9AC" fill-rule="nonzero"></path>
                            <polygon id="Path" stroke="#231F20" stroke-width="0.5" fill="#F4A62A" points="71.8932584 29.0840336 71.8932584 29 53 29 53 34.8823529 66.2359551 34.8823529 66.2359551 39 72 39 72 29.0840336"></polygon>
                            <polygon id="Rectangle" stroke="#231F20" stroke-width="0.5" fill="#F4A62A" points="49.7445105 0 55 2.53952499 48.2554895 12 43 9.46047501"></polygon>
                            <polygon id="Path" stroke="#000000" stroke-width="0.735" fill="#A7A9AC" points="57 67.2387387 57 71.0045045 50.9583333 74 42 61.8468468 42 57.9954955 48.0416667 55 55.4375 65.0990991"></polygon>
                            <polygon id="Rectangle" stroke="#231F20" stroke-width="0.5" fill="#F4A62A" points="37.6002518 10 53 17.3274365 50.3997482 21 35 13.6725635"></polygon>
                            <polygon id="Path" stroke="#231F20" stroke-width="0.5" fill="#F4A62A" points="59 53.9473684 53.2060086 46.6776316 50.5236052 43 34 50.7828947 37.3261803 55.1447368 49.6652361 49.3289474 54.9227468 56"></polygon>
                            <path d="M29.047619,11.7328881 L28.9393939,15.639399 L20.0649351,19.7195326 L15.0865801,21.9766277 L12.4891775,18.2437396 L10,14.5976628 L10,10.6911519 L11.0822511,10.1702838 L14.8701299,8.43405676 L17.4675325,12.0801336 L26.4502165,8 L29.047619,11.7328881 Z M55.8874459,56.0934891 L55.8874459,60 L60,57.9165275 L60,54.0100167 L55.8874459,56.0934891 Z" id="Path" stroke="#000000" stroke-width="0.735" fill="#A7A9AC" fill-rule="nonzero"></path>
                            <path d="M15,18.164486 L15,21.9327103 C15,22.0224299 14.893617,22.0224299 14.893617,21.9327103 L12.4468085,18.3439252 L10,14.5757009 L10,10.5383178 L11.0638298,10 C12.4468085,10.717757 13.6170213,11.435514 13.6170213,11.435514 L15,18.164486 Z" id="Path" stroke="#000000" stroke-width="0.673"></path>
                            <polygon id="Path" stroke="#231F20" stroke-width="0.5" fill="#F4A62A" points="2.14285714 21 12 24.256 12 40.8 2.14285714 43 0 37.544 5.57142857 36.224 5.57142857 27.6 0 25.752"></polygon>
                            <polygon id="Path" stroke="#000000" stroke-width="0.673" points="2 42.2427184 2 46 1.9 46 0 40.7572816 0 37 0.1 37"></polygon>
                            <polygon id="Path" stroke="#231F20" stroke-width="0.5" fill="#F4A62A" points="26.4090909 8 17.4488636 12.0517241 14.8579545 8.43103448 10 10.6724138 12.5909091 14.2931034 15.1818182 18 20.1477273 15.7586207 29 11.7068966"></polygon>
                            <polygon id="Path" stroke="#000000" stroke-width="0.735" fill="#A7A9AC" points="29 50.4488889 28.7841727 54.2488889 19.2877698 67 14 64.5511111 14.2158273 60.7511111 23.7122302 48"></polygon>
                            <polygon id="Rectangle" stroke="#231F20" stroke-width="0.5" fill="#F4A62A" points="23.6361588 47 29 49.5610679 19.3638412 63 14 60.4389321"></polygon>
                            <polygon id="Path" stroke="#000000" stroke-width="0.673" points="19 63.3513514 18.8039216 67 14 64.6486486 14.1960784 61"></polygon>
                            <polygon id="Path" stroke="#000000" stroke-width="0.735" fill="#A7A9AC" points="20 45.4488889 19.7857143 49.2488889 10.25 62 5 59.5511111 5.21428571 55.7511111 14.75 43"></polygon>
                            <polygon id="Rectangle" stroke="#231F20" stroke-width="0.5" fill="#F4A62A" points="15.6365487 42 21 44.5610679 11.3634513 58 6 55.4389321"></polygon>
                            <polygon id="Path" stroke="#000000" stroke-width="0.735" fill="#A7A9AC" points="11 58.3513514 10.8039216 62 6 59.6486486 6.19607843 56"></polygon>
                            <polygon id="Path" stroke="#231F20" stroke-width="0.5" fill="#F4A62A" points="42 58.9283815 48.0268701 56 57 68.0716185 50.9731299 71"></polygon>
                        </g>
                        <rect id="sideRect" stroke="#000000" fill="#E6E7E8" fill-rule="nonzero" x="0.5" y="0.5" width="25" height="93"></rect>
                        <text id="txtProjects" transform="translate(13.000000, 47.000000) rotate(-90.000000) translate(-13.000000, -47.000000) " font-family="HelveticaNeue-Bold, Helvetica Neue" font-size="7" font-weight="bold" line-spacing="8" fill="#000000">
                            <tspan x="-19" y="46">СТРОИТЕЛЬСТВО</tspan>
                            <tspan x="-19" y="54">ОБЪЕКТОВ</tspan>
                        </text>
                    </g>
                    <g id="cardEngNWs" transform="translate(0.000000, 186.000000)">
                        <rect id="mainRect" stroke="#242424" fill="#F4F4F4" fill-rule="nonzero" x="25.5" y="0.5" width="147" height="93"></rect>
                        <g id="picEngNWs" transform="translate(56.000000, 12.000000)">
                            <path d="M3.1,11.5 C1.9,11.5 0.9,12.5 0.9,13.7 L0.9,28.9 C0.9,29.3 1.2,29.6 1.6,29.6 L24.3,29.6 C24.7,29.6 25,29.3 25,28.9 L25,13 C25,12.1 24.3,11.4 23.4,11.4 L3.1,11.4 L3.1,11.5 Z M32.2,11.5 C30.9,11.5 29.9,12.5 29.9,13.8 L29.9,28.8 C29.9,29.2 30.2,29.5 30.6,29.5 L53.3,29.5 C53.7,29.5 54,29.2 54,28.8 L54,13.5 C54,12.4 53.1,11.4 51.9,11.4 L32.2,11.4 L32.2,11.5 Z" id="Path" stroke="#000000" stroke-width="0.735" fill="#A7A9AC" fill-rule="nonzero"></path>
                            <path d="M24.9,24.4 L0.9,24.4 L0.9,13.7 C0.9,12.5 1.9,11.5 3.1,11.5 L23.4,11.5 C24.3,11.5 25,12.2 25,13.1 L25,24.4 L24.9,24.4 Z M53,24.4 L30.8,24.4 C30.3,24.4 29.9,24 29.9,23.5 L29.9,13.8 C29.9,12.5 30.9,11.5 32.2,11.5 L51.8,11.5 C52.9,11.5 53.9,12.4 53.9,13.6 L53.9,23.5 C53.9,24 53.5,24.4 53,24.4 Z" id="Path" stroke="#231F20" stroke-width="0.5" fill="#F4A62A" fill-rule="nonzero"></path>
                            <path d="M12.9,0.1 C7.8,0.1 3.6,2.2 3.6,4.9 L3.6,17.3 C3.6,19.9 7.8,22.1 12.9,22.1 C18,22.1 22.2,20 22.2,17.3 L22.2,4.9 C22.2,2.2 18.1,0.1 12.9,0.1 Z" id="Path" stroke="#000000" stroke-width="0.75" fill="#BCBEC0"></path>
                            <ellipse id="Oval" stroke="#231F20" stroke-width="0.5" fill="#F4A62A" cx="12.9" cy="4.9" rx="9.3" ry="4.8"></ellipse>
                            <path d="M41.9,0.1 C36.8,0.1 32.6,2.2 32.6,4.9 L32.6,17.3 C32.6,19.9 36.8,22.1 41.9,22.1 C47,22.1 51.2,20 51.2,17.3 L51.2,4.9 C51.2,2.2 47,0.1 41.9,0.1 Z" id="Path" stroke="#000000" stroke-width="0.75" fill="#BCBEC0"></path>
                            <ellipse id="Oval" stroke="#231F20" stroke-width="0.5" fill="#F4A62A" cx="41.9" cy="4.9" rx="9.3" ry="4.8"></ellipse>
                            <path d="M59.3,55.6 L59.3,16.3 L77.9,16.3 L77.9,55.6 C77.9,56.8 77,57.7 75.8,57.7 L61.4,57.7 C60.2,57.7 59.3,56.8 59.3,55.6 Z" id="Path" stroke="#000000" stroke-width="0.735" fill="#A7A9AC"></path>
                            <path d="M59.3,50.7 L59.3,13 C59.3,12 60.1,11.2 61.1,11.2 L76,11.2 C77,11.2 77.8,12 77.8,13 L77.8,50.7 C77.8,51.7 77,52.5 76,52.5 L61.1,52.5 C60.1,52.6 59.3,51.7 59.3,50.7 Z" id="Path" stroke="#231F20" stroke-width="0.5" fill="#F4A62A"></path>
                            <circle id="Oval" stroke="#231F20" stroke-width="0.566" cx="64.2" cy="17" r="3"></circle>
                            <circle id="Oval" stroke="#231F20" stroke-width="0.566" cx="64.2" cy="27.6" r="3"></circle>
                            <circle id="Oval" stroke="#231F20" stroke-width="0.566" cx="64.2" cy="47.5" r="3"></circle>
                            <circle id="Oval" stroke="#231F20" stroke-width="0.566" cx="64.2" cy="37.9" r="3"></circle>
                            <path d="M35.3,27.4 L35.3,33.8 C35.3,34.6 34.6,35.3 33.8,35.3 L22.7,35.3 C21.9,35.3 21.2,34.6 21.2,33.8 L21.2,27.6 M39.9,27.4 L39.9,38 C39.9,38.8 39.2,39.5 38.4,39.5 L18.4,39.5 C17.6,39.5 16.9,38.8 16.9,38 L16.9,27.7 M63.4,55.6 L63.4,59.6 C63.4,60.4 62.7,61.1 61.9,61.1 L53.3,61.1 C52.5,61.1 51.8,60.4 51.8,59.6 L51.8,27.3 M68.5,55.7 L68.5,64.3 C68.5,65.1 67.8,65.8 67,65.8 L47,65.8 C46.2,65.8 45.5,65.1 45.5,64.3 L45.5,27.4 M74.4,55.6 L74.4,69.1 C74.4,69.9 73.7,70.6 72.9,70.6 L37.7,70.4 C36.9,70.4 36.2,69.7 36.2,68.9 L36.2,46.9 C36.2,46.1 35.5,45.4 34.7,45.4 L11.5,45.4 C10.7,45.4 10,44.7 10,43.9 L9.8,27.7" id="Shape" stroke="#231F20" stroke-width="2.841" stroke-linecap="round"></path>
                        </g>
                        <rect id="sideRect" stroke="#000000" fill="#E6E7E8" fill-rule="nonzero" x="0.5" y="0.5" width="25" height="93"></rect>
                        <text id="txtEngNWs" transform="translate(12.500000, 46.000000) rotate(-90.000000) translate(-12.500000, -46.000000) " font-family="HelveticaNeue-Bold, Helvetica Neue" font-size="7" font-weight="bold" line-spacing="8" fill="#000000">
                            <tspan x="-25" y="49">ИНЖЕНЕРНЫЕ СЕТИ</tspan>
                        </text>
                    </g>
                    <g id="cardLowVoltage" transform="translate(0.000000, 279.000000)">
                        <rect id="mainRect" stroke="#242424" fill="#F4F4F4" fill-rule="nonzero" x="25.5" y="0.5" width="147" height="93"></rect>
                        <g id="picLowVoltage" transform="translate(40.000000, 13.000000)">
                            <path d="M81.4225352,25 L28.5774648,25 C27.7170294,25 27,24.1712707 27,23.1767956 L27,11.8232044 C27,10.8287293 27.7170294,10 28.5774648,10 L81.4225352,10 C82.2829706,10 83,10.8287293 83,11.8232044 L83,23.1767956 C83,24.1712707 82.2829706,25 81.4225352,25 Z" id="Path" stroke="#000000" stroke-width="0.735" fill="#A7A9AC"></path>
                            <path d="M81.4225352,20 L28.5774648,20 C27.7170294,20 27,19.1712707 27,18.1767956 L27,6.82320442 C27,5.82872928 27.7170294,5 28.5774648,5 L81.4225352,5 C82.2829706,5 83,5.82872928 83,6.82320442 L83,18.1767956 C83,19.1712707 82.2829706,20 81.4225352,20 Z" id="Path" stroke="#231F20" stroke-width="0.744" fill="#FFFFFF"></path>
                            <path d="M40.3813559,8 L30.4237288,8 C30.2118644,8 30,8.23762376 30,8.47524752 L30,13.3069307 C30,13.5445545 30.2118644,13.7821782 30.4237288,13.7821782 L32.6836158,13.7821782 C32.8954802,13.7821782 33.0367232,13.9405941 33.0367232,14.1782178 L33.0367232,15.4455446 C33.0367232,15.7623762 33.2485876,16 33.5310734,16 L37.2740113,16 C37.5564972,16 37.7683616,15.7623762 37.7683616,15.4455446 L37.7683616,14.1782178 C37.7683616,13.9405941 37.9096045,13.7821782 38.1214689,13.7821782 L40.4519774,13.7821782 C40.6638418,13.7821782 40.8050847,13.6237624 40.8050847,13.3861386 L40.8050847,8.31683168 C40.6638418,8.15841584 40.5225989,8 40.3813559,8 Z M53.6581921,8 L43.7711864,8 C43.559322,8 43.3474576,8.23762376 43.3474576,8.47524752 L43.3474576,13.3069307 C43.3474576,13.5445545 43.559322,13.7821782 43.7711864,13.7821782 L46.0310734,13.7821782 C46.2429379,13.7821782 46.3841808,13.9405941 46.3841808,14.1782178 L46.3841808,15.4455446 C46.3841808,15.7623762 46.5960452,16 46.8785311,16 L50.5508475,16 C50.8333333,16 51.0451977,15.7623762 51.0451977,15.4455446 L51.0451977,14.1782178 C51.0451977,13.9405941 51.1864407,13.7821782 51.3983051,13.7821782 L53.7288136,13.7821782 C53.940678,13.7821782 54.0819209,13.6237624 54.0819209,13.3861386 L54.0819209,8.31683168 C54.0112994,8.15841584 53.8700565,8 53.6581921,8 Z M66.6525424,8 L56.6949153,8 C56.4830508,8 56.2711864,8.23762376 56.2711864,8.47524752 L56.2711864,13.3069307 C56.2711864,13.5445545 56.4830508,13.7821782 56.6949153,13.7821782 L58.9548023,13.7821782 C59.1666667,13.7821782 59.3079096,13.9405941 59.3079096,14.1782178 L59.3079096,15.4455446 C59.3079096,15.7623762 59.519774,16 59.8022599,16 L63.5451977,16 C63.8276836,16 64.039548,15.7623762 64.039548,15.4455446 L64.039548,14.1782178 C64.039548,13.9405941 64.180791,13.7821782 64.3926554,13.7821782 L66.7231638,13.7821782 C66.9350282,13.7821782 67.0762712,13.6237624 67.0762712,13.3861386 L67.0762712,8.31683168 C67.0056497,8.15841584 66.8644068,8 66.6525424,8 Z M79.5762712,8 L69.6186441,8 C69.4067797,8 69.1949153,8.23762376 69.1949153,8.47524752 L69.1949153,13.3069307 C69.1949153,13.5445545 69.4067797,13.7821782 69.6186441,13.7821782 L71.8785311,13.7821782 C72.0903955,13.7821782 72.2316384,13.9405941 72.2316384,14.1782178 L72.2316384,15.4455446 C72.2316384,15.7623762 72.4435028,16 72.7259887,16 L76.4689266,16 C76.7514124,16 76.9632768,15.7623762 76.9632768,15.4455446 L76.9632768,14.1782178 C76.9632768,13.9405941 77.1045198,13.7821782 77.3163842,13.7821782 L79.6468927,13.7821782 C79.8587571,13.7821782 80,13.6237624 80,13.3861386 L80,8.31683168 C79.8587571,8.15841584 79.7175141,8 79.5762712,8 Z" id="Path" stroke="#231F20" stroke-width="0.5" fill="#F4A62A" fill-rule="nonzero"></path>
                            <path d="M75.8354098,10.878628 L75.8354098,1.55408971 C75.8354098,0.736147757 76.4072131,0 77.1934426,0 L85.5560656,0 C86.2708197,0 86.9140984,0.654353562 86.9140984,1.55408971 L86.9140984,14.9683377 C86.9140984,15.7862797 87.4859016,16.5224274 88.2721311,16.5224274 L109,16.5224274 M62.3980328,10.878628 L62.3980328,1.55408971 C62.3980328,0.736147757 62.9698361,0 63.7560656,0 L71.4039344,0 C72.1186885,0 72.7619672,0.654353562 72.7619672,1.55408971 L72.7619672,29.0369393 C72.7619672,29.8548813 73.3337705,30.591029 74.12,30.591029 L109,30.591029 M35.8091803,10.878628 L35.8091803,1.55408971 C35.8091803,0.736147757 35.237377,0 34.4511475,0 L24.1586885,0 C23.4439344,0 22.8006557,0.654353562 22.8006557,1.55408971 L22.8006557,14.9683377 C22.8006557,15.7862797 22.2288525,16.5224274 21.442623,16.5224274 L1.42108547e-14,16.5224274 M49.532459,10.878628 L49.532459,1.55408971 C49.532459,0.736147757 48.9606557,0 48.1744262,0 L40.5980328,0 C39.8832787,0 39.24,0.654353562 39.24,1.55408971 L39.24,29.4459103 C39.24,30.2638522 38.6681967,31 37.8819672,31 L0,31" id="Path" stroke="#231F20" stroke-width="1.859" stroke-linecap="round"></path>
                            <path d="M81.4225352,62 L28.5774648,62 C27.7170294,62 27,61.1712707 27,60.1767956 L27,48.8232044 C27,47.8287293 27.7170294,47 28.5774648,47 L81.4225352,47 C82.2829706,47 83,47.8287293 83,48.8232044 L83,60.2596685 C83,61.2541436 82.2829706,62 81.4225352,62 Z" id="Path" stroke="#000000" stroke-width="0.735" fill="#A7A9AC"></path>
                            <path d="M81.4225352,56 L28.5774648,56 C27.7170294,56 27,55.1712707 27,54.1767956 L27,42.8232044 C27,41.8287293 27.7170294,41 28.5774648,41 L81.4225352,41 C82.2829706,41 83,41.8287293 83,42.8232044 L83,54.1767956 C83,55.1712707 82.2829706,56 81.4225352,56 Z" id="Path" stroke="#231F20" stroke-width="0.744" fill="#FFFFFF"></path>
                            <path d="M40.3813559,44 L30.4237288,44 C30.2118644,44 30,44.2673267 30,44.5346535 L30,49.970297 C30,50.2376238 30.2118644,50.5049505 30.4237288,50.5049505 L32.6836158,50.5049505 C32.8954802,50.5049505 33.0367232,50.6831683 33.0367232,50.950495 L33.0367232,52.3762376 C33.0367232,52.7326733 33.2485876,53 33.5310734,53 L37.2740113,53 C37.5564972,53 37.7683616,52.7326733 37.7683616,52.3762376 L37.7683616,50.950495 C37.7683616,50.6831683 37.9096045,50.5049505 38.1214689,50.5049505 L40.4519774,50.5049505 C40.6638418,50.5049505 40.8050847,50.3267327 40.8050847,50.0594059 L40.8050847,44.3564356 C40.6638418,44.1782178 40.5225989,44 40.3813559,44 Z M53.6581921,44 L43.7711864,44 C43.559322,44 43.3474576,44.2673267 43.3474576,44.5346535 L43.3474576,49.970297 C43.3474576,50.2376238 43.559322,50.5049505 43.7711864,50.5049505 L46.0310734,50.5049505 C46.2429379,50.5049505 46.3841808,50.6831683 46.3841808,50.950495 L46.3841808,52.3762376 C46.3841808,52.7326733 46.5960452,53 46.8785311,53 L50.5508475,53 C50.8333333,53 51.0451977,52.7326733 51.0451977,52.3762376 L51.0451977,50.950495 C51.0451977,50.6831683 51.1864407,50.5049505 51.3983051,50.5049505 L53.7288136,50.5049505 C53.940678,50.5049505 54.0819209,50.3267327 54.0819209,50.0594059 L54.0819209,44.3564356 C54.0112994,44.1782178 53.8700565,44 53.6581921,44 Z M66.6525424,44 L56.6949153,44 C56.4830508,44 56.2711864,44.2673267 56.2711864,44.5346535 L56.2711864,49.970297 C56.2711864,50.2376238 56.4830508,50.5049505 56.6949153,50.5049505 L58.9548023,50.5049505 C59.1666667,50.5049505 59.3079096,50.6831683 59.3079096,50.950495 L59.3079096,52.3762376 C59.3079096,52.7326733 59.519774,53 59.8022599,53 L63.5451977,53 C63.8276836,53 64.039548,52.7326733 64.039548,52.3762376 L64.039548,50.950495 C64.039548,50.6831683 64.180791,50.5049505 64.3926554,50.5049505 L66.7231638,50.5049505 C66.9350282,50.5049505 67.0762712,50.3267327 67.0762712,50.0594059 L67.0762712,44.3564356 C67.0056497,44.1782178 66.8644068,44 66.6525424,44 Z M79.5762712,44 L69.6186441,44 C69.4067797,44 69.1949153,44.2673267 69.1949153,44.5346535 L69.1949153,49.970297 C69.1949153,50.2376238 69.4067797,50.5049505 69.6186441,50.5049505 L71.8785311,50.5049505 C72.0903955,50.5049505 72.2316384,50.6831683 72.2316384,50.950495 L72.2316384,52.3762376 C72.2316384,52.7326733 72.4435028,53 72.7259887,53 L76.4689266,53 C76.7514124,53 76.9632768,52.7326733 76.9632768,52.3762376 L76.9632768,50.950495 C76.9632768,50.6831683 77.1045198,50.5049505 77.3163842,50.5049505 L79.6468927,50.5049505 C79.8587571,50.5049505 80,50.3267327 80,50.0594059 L80,44.3564356 C79.8587571,44.1782178 79.7175141,44 79.5762712,44 Z" id="Path" stroke="#231F20" stroke-width="0.5" fill="#F4A62A" fill-rule="nonzero"></path>
                            <path d="M75.8354098,47.878628 L75.8354098,38.5540897 C75.8354098,37.7361478 76.4072131,37 77.1934426,37 L85.5560656,37 C86.2708197,37 86.9140984,37.6543536 86.9140984,38.5540897 L86.9140984,51.9683377 C86.9140984,52.7862797 87.4859016,53.5224274 88.2721311,53.5224274 L109,53.5224274 M62.3980328,47.878628 L62.3980328,38.5540897 C62.3980328,37.7361478 62.9698361,37 63.7560656,37 L71.4039344,37 C72.1186885,37 72.7619672,37.6543536 72.7619672,38.5540897 L72.7619672,66.0369393 C72.7619672,66.8548813 73.3337705,67.591029 74.12,67.591029 L109,67.591029 M35.8091803,47.878628 L35.8091803,38.5540897 C35.8091803,37.7361478 35.237377,37 34.4511475,37 L24.1586885,37 C23.4439344,37 22.8006557,37.6543536 22.8006557,38.5540897 L22.8006557,51.9683377 C22.8006557,52.7862797 22.2288525,53.5224274 21.442623,53.5224274 L1.42108547e-14,53.5224274 M49.532459,47.878628 L49.532459,38.5540897 C49.532459,37.7361478 48.9606557,37 48.1744262,37 L40.5980328,37 C39.8832787,37 39.24,37.6543536 39.24,38.5540897 L39.24,66.4459103 C39.24,67.2638522 38.6681967,68 37.8819672,68 L0,68" id="Shape" stroke="#231F20" stroke-width="1.859" stroke-linecap="round"></path>
                        </g>
                        <rect id="sideRect" stroke="#000000" fill="#E6E7E8" fill-rule="nonzero" x="0.5" y="0.5" width="25" height="93"></rect>
                        <text id="txtLowVoltage" transform="translate(12.500000, 47.000000) rotate(-90.000000) translate(-12.500000, -47.000000) " font-family="HelveticaNeue-Bold, Helvetica Neue" font-size="7" font-weight="bold" line-spacing="8" fill="#000000">
                            <tspan x="-16" y="46">СЛАБОТОЧНЫЕ</tspan>
                            <tspan x="-16" y="54">РАБОТЫ</tspan>
                        </text>
                    </g>
                    <g id="cardCommonStroy" transform="translate(0.000000, 372.000000)">
                        <rect id="mainRect" stroke="#242424" fill="#F4F4F4" fill-rule="nonzero" x="25.5" y="0.5" width="147" height="93"></rect>
                        <g id="picCommonStroy" transform="translate(50.000000, 24.000000)">
                            <path d="M20.5556781,44 L4.94377067,44 L0,38.3322034 L0,28.9355932 L4.94377067,23.2677966 L20.5556781,23.2677966 C21.2712238,23.2677966 21.7916207,23.9389831 21.7916207,24.6847458 L21.7916207,42.5084746 C21.7916207,43.3288136 21.2712238,44 20.5556781,44 Z M56.5931643,8.65084746 L36.4277839,8.65084746 C35.061742,8.65084746 34.0209482,7.08474576 34.0209482,5.22033898 L34.0209482,3.43050847 C34.0209482,1.49152542 35.1267916,0 36.4277839,0 L56.5931643,0 C57.9592062,0 59,1.56610169 59,3.43050847 L59,5.22033898 C59,7.08474576 57.8941566,8.65084746 56.5931643,8.65084746 Z" id="Path" stroke="#231F20" fill="#F4A62A" fill-rule="nonzero"></path>
                            <path d="M79.8056335,43 L74.189334,43 C73.5285929,43 73,42.4122449 73,41.677551 L73,26.322449 C73,25.5877551 73.5285929,25 74.189334,25 L79.8056335,25 C80.4663746,25 80.9949675,25.5877551 80.9949675,26.322449 L80.9949675,41.677551 C81.0610416,42.4122449 80.4663746,43 79.8056335,43 Z" id="Path" stroke="#231F20" fill="#BCBEC0"></path>
                            <path d="M77.0249172,38 C76.4315441,38 76,37.4375 76,36.734375 L76,30.265625 C76,29.5625 76.4315441,29 76.9709742,29 L77.0249172,29 C77.5643473,29 77.9958914,29.5625 77.9958914,30.265625 L77.9958914,36.734375 C78.0498345,37.4375 77.5643473,38 77.0249172,38 Z" id="Path" stroke="#000000" fill="#E6E7E8"></path>
                            <path d="M47.6666667,47 L45.3333333,47 C44.0666667,47 43,45.8148148 43,44.4074074 L43,23.5925926 C43,22.1851852 44.0666667,21 45.3333333,21 L47.6666667,21 C48.9333333,21 50,22.1851852 50,23.5925926 L50,44.4074074 C50,45.8888889 49,47 47.6666667,47 Z" id="Path" stroke="#231F20" fill="#BCBEC0"></path>
                            <path d="M20,34 L27.6183395,34 C27.8810409,34 28.1437423,33.85 28.3407683,33.625 L35.5650558,25.375 C35.7620818,25.15 36.0247831,25 36.2874845,25 L55.070632,25 C55.3333333,25 55.5960347,25.15 55.7930607,25.375 L62.6889715,33.25 C62.8859975,33.475 63.1486989,33.625 63.4114002,33.625 L73,33.625" id="Path" stroke="#231F20" stroke-width="3.107" stroke-linecap="round"></path>
                            <path d="M59.1203704,5 L59.7685185,5 C60.4166667,5 61,5.60952381 61,6.44761905 L61,9.11428571 C61,9.8 60.6111111,10.3333333 60.0277778,10.4857143 L47.9722222,13.5333333 C47.3888889,13.6857143 47,14.2190476 47,14.9047619 L47,21" id="Path" stroke="#231F20" stroke-width="1.776" stroke-linecap="round"></path>
                        </g>
                        <rect id="sideRect" stroke="#000000" fill="#E6E7E8" fill-rule="nonzero" x="0.5" y="0.5" width="25" height="93"></rect>
                        <text id="txtCommonStroy" transform="translate(12.500000, 47.000000) rotate(-90.000000) translate(-12.500000, -47.000000) " font-family="HelveticaNeue-Bold, Helvetica Neue" font-size="7" font-weight="bold" line-spacing="8" fill="#000000">
                            <tspan x="-29" y="46">ОБЩЕСТРОИТЕЛЬНЫЕ</tspan>
                            <tspan x="-29" y="54">РАБОТЫ</tspan>
                        </text>
                    </g>
                </g>
            </g>
        </svg>
    //- ul#homePageSidebar.nav.sidebar-font
    //-     li.nav-item
    //-         a(href="#poly") ПРОМЫШЛЕННЫЕ ПОЛЫ
    //-     li.nav-item
    //-         a(href="#sclady") СКЛАДЫ ПОД КЛЮЧ
    //-     li.nav-item.sidebar-not
    //-         a.text-primary.text-bold ДИЗАЙН ИНТЕРЬЕРОВ
    //-         ul.nav 
    //-             li.nav-item
    //-                 a(href="#house") В ЗАГОРОДНЫХ ДОМАХ
    //-             li.nav-item
    //-                 a(href="#room") В КВАРТИРАХ
    //-             li.nav-item
    //-                 a(href="#office") В ОФИСАХ

    //-     li.nav-item.sidebar-not
    //-         a.text-primary.text-bold ОБЪЕКТЫ
    //-         ul.nav 
    //-             li.nav-item
    //-                 a(href="#living") ЖИЛАЯ НЕДВИЖИМОСТЬ
    //-             li.nav-item
    //-                 a(href="#promObj") ПРОИЗВОДСТВЕННЫЕ ОБЪЕКТЫ
    //-             li.nav-item
    //-                 a(href="#adminBuilding") ОБЩЕСТВЕННЫЕ ЗДАНИЯ
    //-             li.nav-item
    //-                 a(href="#hotel") ЦЕНТРЫ ОТДЫХА И ОТЕЛИ
    //-             li.nav-item
    //-                 a(href="#malls") ТОРГОВЫЕ ЦЕНТРЫ И РЫНКИ
    //-     li.nav-item.sidebar-not
    //-         a.text-primary.text-bold ИНЖИНЕРНЫЕ СЕТИ
    //-         ul.nav 
    //-             li.nav-item
    //-                 a(href="#cooling") КОНДИЦИОНИРОВАНИЕ
    //-             li.nav-item
    //-                 a(href="#vent") ВЕНТИЛЯЦИЯ
    //-             li.nav-item
    //-                 a(href="#warming") ОТОПЛЕНИЕ
    //-             li.nav-item
    //-                 a(href="#water") ВОДОСНАБЖЕНИЕ
    //-             li.nav-item
    //-                 a(href="#gas") ГАЗОСНАБЖЕНИЕ
    //-             li.nav-item
    //-                 a(href="#suege") КАНАЛИЗАЦИЯ
    //-             li.nav-item
    //-                 a(href="#itp") ИТП
    //-             li.nav-item
    //-                 a(href="#ctp") ЦТП
    //-     li.nav-item.sidebar-not
    //-         a.text-primary.text-bold СЛАБОТОЧНЫЕ РАБОТЫ
    //-         ul.nav 
    //-             li.nav-item
    //-                 a(href="#lowVolt") СИСТЕМА БЕЗОПАСНОСТИ
    //-             li.nav-item
    //-                 a(href="#lowVolt") СИСТЕМА ПОЖАРОТУШЕНИЯ
    //-             li.nav-item
    //-                 a(href="#lowVolt") СИСТЕМА СИГНАЛИЗАЦИИ
    //-     li.nav-item.sidebar-not
    //-         a.text-primary.text-bold ОБЩЕСТРОИТЕЛЬНЫЕ РАБОТЫ
    //-         ul.nav 
    //-             li.nav-item
    //-                 a(href="#zemelnyeRab") ЗЕМЕЛЬНЫЕ РАБОТЫ
    //-             li.nav-item
    //-                 a(href="#monolit") МОНОЛИТНЫЕ И ЖБ КОНСТРУКЦИИ
    //-             li.nav-item
    //-                 a(href="#floor") КЛАДОЧНЫЕ РАБОТЫ
    //-             li.nav-item
    //-                 a(href="#roof") КРОВЕЛЬНЫЕ РАБОТЫ
    //-             li.nav-item
    //-                 a(href="#facade") ФАСАДНЫЕ РАБОТЫ
    //-             li.nav-item
    //-                 a(href="#roomDecoration") ОТДЕЛОЧНЫЕ РАБОТЫ
    //-             li.nav-item
    //-                 a(href="#park") БЛАГОУСТРОЙСТВО
    //-             li.nav-item
    //-                 a(href="#waterResist") ГИДРОИЗОЛЯЦИЯ

                
    

    