.bt_callback.callback_phone_button.goal_item.animated(data-goal="call_modal_show", data-title="")
    .callback_phone_icon
    .callback_phone_circle
    .callback_phone_circle2
    .callback_phone_fill
    .callback_phone_body