ul.header-stages.d-flex
    li#questions_holder.icon64(data-title="<span>СОГЛАСОВАНИЯ ПРОЕКТА</span> С ВАМИ И СО ВСЕМИ ИНСТАНЦИЯМИ")
        include ../svg/icon_questions
    li#add_list_holder.icon64.icon85(data-title="<span>МЫ ПРОВЕДЕМ ВАС</span> С МОМЕНТА ЗАРОЖДЕНИЯ ВАШЕЙ ЗАМЕЧАТЕЛЬНОЙ ИДЕИ")
        include ../svg/icon_add_list
    li#calculate_holder.icon64(data-title="<span>ВЫПОЛНЕНИЯ</span> ПРЕДПРОЕКТНЫХ РАБОТ")
        include ../svg/icon_calculate
    li#agreement_holder.icon64(data-title="<span>ДО ЕЁ ВОПЛОЩЕНИЯ</span> В ПОНЯТНОМ ДИЗАЙН ПРОЕКТЕ")
        include ../svg/icon_agreement
    li#perform_holder.icon64(data-title="<span>ПРОЕКТИРОВАНИЯ,</span> ВКЛЮЧАЯ РАБОЧИЙ ПРОЕКТ И ДОКУМЕНТАЦИЮ")
        include ../svg/icon_perform
    li#success_holder.icon64(data-title="<span>БЫСТРОЙ</span> ПОДГОТОВКИ К НАЧАЛУ РАБОТ")
        include ../svg/icon_success
.header-plate.p-centered
    svg.header-gear1
        use.g(href="#icon-logo",xmlns:xlink="http://www.w3.org/1999/xlink", x="11", y="11")
    .header-plate-text.text-center
        .h4.text-uppercase.text-center Узнайте стоимость устройства<br/>вашего пола "под ключ"
        button.btn.btn-error.text-bold УЗНАТЬ СТОИМОСТЬ
    svg.header-gear2
        use.g(href="#icon-logo",xmlns:xlink="http://www.w3.org/1999/xlink", x="11", y="11")