.logo-txt
    include ../svg/header_icons/logo_txt.pug 
    h1.text-center ИНЖИНИРИНГОВАЯ КОМПАНИЯ <span>ПОЛНОГО ЦИКЛА</span>
#offer_text.text-center.text-uppercase <span>Мы проведем вас</span> с момента зарождения вашей замечательной идеи