
ul.header-stages.d-flex
    li.active(data-title="<span>МЫ ПРОВЕДЕМ ВАС</span> С МОМЕНТА ЗАРОЖДЕНИЯ ВАШЕЙ ЗАМЕЧАТЕЛЬНОЙ ИДЕИ")
        include ../svg/icon_idea.pug 
    li(data-title="b")
        include ../svg/icon_project.pug 
    li(data-title="c")
        include ../svg/icon_coord.pug
    li(data-title="d")
        include ../svg/icon_design.pug
    li(data-title="e")
        include ../svg/icon_meeting.pug
    li(data-title="f")
        include ../svg/icon_preps.pug
    li(data-title="g")
        include ../svg/icon_build.pug
    li(data-title="h")
        include ../svg/icon_greeting.pug
.header-plate.p-centered
    svg.header-gear1
        use.g(href="#icon-logo",xmlns:xlink="http://www.w3.org/1999/xlink")
    .header-plate-text.text-center
        .h4.text-uppercase.text-center Узнайте стоимость <br/>вашего проекта "под ключ"
        button.btn.btn-error.text-bold УЗНАТЬ СТОИМОСТЬ
    svg.header-gear2
        use.g(href="#icon-logo",xmlns:xlink="http://www.w3.org/1999/xlink")