img.pt3(src="./images/skladyLogo.svg")
#eggs_logo.columns
    #egg_time_holder.column.col-3
    #egg_money_holder.column.col-3
    #egg_volume_holder.column.col-3
    #egg_roi_holder.column.col-3
#eggs_txt.columns
    .column.col-3
        include ../svg/eggs_logo/egg_txt_time.svg
    .column.col-3
        include ../svg/eggs_logo/egg_txt_money.svg
    .column.col-3
        include ../svg/eggs_logo/egg_txt_volume.svg
    .column.col-3
        include ../svg/eggs_logo/egg_txt_roi.svg
