.logo-txt
    include ../svg/logo_txt.pug 
    h1.text-center БЫСТРОВОЗВОДИМЫЕ <span>СКЛАДЫ «ПОД КЛЮЧ»</span>
#offer_text.text-center.text-uppercase мы спроектируем и построим для вас <span>любое складское помещение</span>