.docs-nav.animated.delay-260ms
    .navbar-section.tile.tile-centered.navbar-brand.m-2(style="position: relative;left: -15px;")
        .tile-icon
            svg
                use(href="#icon-logo",xmlns:xlink="http://www.w3.org/1999/xlink", x="5.6", y="5.6")
        .tile-content
            .tile-title
                a(href="/")
                    span ПРОФТЕХИНЖИНИРИНГ
                    small.d-block ИНЖИНИРИНГОВАЯ КОМПАНИЯ<br>ПОЛНОГО ЦИКЛА
    ul#skladyPageSidebar.nav.sidebar-font
        li.nav-item.sidebar-not
            .accordion
                input#prom_sklady(type="checkbox", name="accordion-checkbox", hidden)
                label.accordion-header(for="prom_sklady")
                    i.icon.icon-arrow-right.mr-1
                    a.li-side-header ПРОЕКТИРУЕМ И ВОЗВОДИМ <br> СКЛАДЫ И ЛОГИСТИЧЕСКИЕ <br> ЦЕНТРЫ ЛЮБЫХ ТИПОВ
                .accordion-body
                    ul.nav 
                        li.nav-item.text-bold
                            a() Ангары
                        li.nav-item.text-bold
                            a() Терминалы
                        li.nav-item.text-bold
                            a() Морозильные
                        li.nav-item.text-bold
                            a() Низкотемпературные
                        li.nav-item.text-bold
                            a() Мультитемпературные
                        li.nav-item.text-bold
                            a() Каркасные
                        li.nav-item.text-bold
                            a() Бескаркасные
                        li.nav-item.text-bold
                            a() Быстровозводимые
                        li.nav-item.text-bold
                            a() Капитальные
                        li.nav-item.text-bold
                            a() Модульные
                        li.nav-item.text-bold
                            a() Самонесущие
                        li.nav-item.text-bold
                            a() Для зерна
                        li.nav-item.text-bold
                            a() Мини-склады
                        li.nav-item.text-bold
                            a() Логистические центры
                        li.nav-item.text-bold
                            a() Из металлоконструкций
    .sidebar-calculate
        .calc-title.p-centered КАЛЬКУЛЯТОР<br> ДЛЯ ВАШЕГО СКЛАДА<br/>
            small.d-block РАССЧИТАЕМ СТОИМОСТЬ ВАШЕГО<br/> БУДУЩЕГО СКЛАДА ЗА 5 МИНУТ
        a().btn.btn-error.p-centered.text-bold РАССЧИТАТЬ
    .sidebar-slider
        .slider-title.p-centered.text-center Портфолио наших складов: 
        .slider.p-relative
            img.animated.faster(src="", alt="")
            .back-arrow.p-absolute.c-hand
                i.icon.icon-arrow-left.text-light
            .forward-arrow.p-absolute.c-hand
                i.icon.icon-arrow-right.text-light
        .slider-description.p-relative.text-center.text-uppercase
        a.p-relative.btn-error.btn.btn-sm ПОСМОТРЕТЬ