extends templates/tpl_office.pug
block content
    input#csrfToken(type="hidden", name="_csrf", value=csrfToken)
    input#access(type="hidden", value= access)
    include ./chunks/office_chunks/chunk_cic_content.pug
