extends ./templates/tpl_main.pug

//- block content
    include 
block svg
    include ./chunks/chunk_main_svg.pug
block logo
    include ./chunks/chunk_main_logo.pug
block offer 
    include ./chunks/chunk_main_offer.pug
block discription
    include ./chunks/chunk_main_discription.pug


