extends templates/tpl_office.pug
block content
    .modal.modal-lg.active
        .modal-overlay
        .modal-container
            .col-8.p-centered.mt-2
                .toast.toast-error
                    .h1.text-center 
                        span У вас нет доступа к этой странице