extends ./templates/tpl_main.pug

block sidebar
    include ./chunks/chunk_sclady_sidebar.pug
block logo
    include ./chunks/chunk_sclady_logo.pug
block offer 
    include ./chunks/chunk_sclady_offer.pug
block discription
    include ./chunks/chunk_sclady_discription.pug
block content
    include ./chunks/chunk_sclady_content.pug
block footer
    include ./chunks/chunk_footer.pug
block svg
    include ./chunks/chunk_main_svg.pug


