extends ./templates/tpl_main.pug

block content
    include layouts/topic-layout.pug
    include layouts/offer-layout.pug
    main
        .hero.text-center
            h1 СПАСИБО ЗА ОБРАЩЕНИЕ
            h4 В НАШУ КОМПАНИЮ!
            br
            button.btn.btn-primary.btn-lg.p-centered(onclick="window.location='/'") НА ГЛАВНУЮ
    include layouts/callbackphone-layout.pug