<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        base(href=path)
        title #{pageTitle}
        link(rel="shortcut icon" href="images/favicon.png" type="image/png")
        link(rel="stylesheet", href="./css/officeBundle.css")
        link(rel="stylesheet", href="./css/vis.min.css")
        link(rel="stylesheet", href="./css/suite.min.css")
        block styles
    body#app_body
        .container.bg-dark
            header.navbar.pb-2.pt-2
                .navbar-section
                    a(href="/").navbar-brand.mr-2.text-secondary ProfTechEngineering
                    a(href="/office/lids").btn.btn-link.text-secondary Лиды
                    a(href="/office/pipes").btn.btn-link.text-secondary Воронки
                    a(href="/office/chanels").btn.btn-link.text-secondary Каналы
                    if tasks
                        a(href="/office/tasks", data-badge=tasks, title="Задач на сегодня - " + tasks).btn.btn-link.text-secondary.badge Задачи
                    else
                        a(href="/office/tasks").btn.btn-link.text-secondary Задачи
                    a(href="/office/contacts").btn.btn-link.text-secondary Контакты
                    a(href="/office/users").btn.btn-link.text-secondary Сотрудники
                    a(href="/office/posts").btn.btn-link.text-secondary Посты
                    a(href="/office/stats").btn.btn-link.text-secondary Статистики
                .navbar-section
                    a(href="/office/privilages").btn.btn-link.text-secondary Доступы
                    a(href="/office/cabinet").btn.btn-link.text-secondary Кабинет
                    a(href="/logout").btn.btn-link.text-secondary Выйти
        block content
        script(src="js/officeBundle.js")
