.obj-header
    h3.text-center.p-centered СКЛАД ПОД КЛЮЧ
.obj-body
    #paramStorage.column.col-12.animated.fadeIn.p-centered
        a(name="param")
        ul.survey_points
            li.tile.tile-centered
                .tile-icon.hide-xs
                    figure.avatar.avatar-lg.bg-dark(data-initial="1")
                .tile-content
                    figure.avatar.avatar-lg.bg-dark.p-centered.show-xs(data-initial="1")
                    .tile-title.text-bold ВОЗМОЖНОСТЬ РАСШИРИТЬ ПРОСТРАНСТВО СКЛАДА
                    .tile-subtitle.text-gray Наше технологическое решение позволит расширить объём вашего складского помещения при необходимости до нужных размеров достаточно быстро и без крупных дополнительных вложений средств.
                    button.btn.btn-warning.btn-sm.p-centered.mt-2.mb-2.bt_importance.goal_item.show-xs(data-goal="bt_sur_prochnost") Мне это важно
                .tile-action.hide-xs
                    button.btn.btn-warning.bt_importance.goal_item(data-goal="bt_sur_prochnost") Мне это важно
            li.tile.tile-centered
                .tile-icon.hide-xs
                    figure.avatar.avatar-lg.bg-dark(data-initial="2")
                .tile-content
                    figure.avatar.avatar-lg.bg-dark.p-centered.show-xs(data-initial="2")
                    .tile-title.text-bold СОКРАЩЕНИЕ НАЛОГОВЫХ ВЫПЛАТ
                    .tile-subtitle.text-gray С вас не будет сниматься годовой обязательный налог за недвижимость = 2.2% от стоимости капитального здания.
                    button.btn.btn-warning.btn-sm.p-centered.mt-2.mb-2.bt_importance.goal_item.show-xs(data-goal="bt_sur_prochnost") Мне это важно
                .tile-action.hide-xs
                    button.btn.btn-warning.bt_importance.goal_item(data-goal="bt_sur_prochnost") Мне это важно
            li.tile.tile-centered
                .tile-icon.hide-xs
                    figure.avatar.avatar-lg.bg-dark(data-initial="3")
                .tile-content
                    figure.avatar.avatar-lg.bg-dark.p-centered.show-xs(data-initial="3")
                    .tile-title.text-bold ЛЕГКИЙ ПЕРЕНОС СКЛАДА
                    .tile-subtitle.text-gray Благодаря конструктивной особенности склад можно разобрать, перевезти в другое место и собрать там в относительно короткий срок.
                    button.btn.btn-warning.btn-sm.p-centered.mt-2.mb-2.bt_importance.goal_item.show-xs(data-goal="bt_sur_prochnost") Мне это важно
                .tile-action.hide-xs
                    button.btn.btn-warning.bt_importance.goal_item(data-goal="bt_sur_prochnost") Мне это важно
            li.tile.tile-centered
                .tile-icon.hide-xs
                    figure.avatar.avatar-lg.bg-dark(data-initial="4")
                .tile-content
                    figure.avatar.avatar-lg.bg-dark.p-centered.show-xs(data-initial="4")
                    .tile-title.text-bold НАДЁЖНАЯ КРОВЛЯ
                    .tile-subtitle.text-gray Мы используем исключительно оригинальные кровельные материалы с дополнительной ПВХ мембраной. Поэтому кровля на вашем складе гарантированно прослужит вам более 10 лет.
                    button.btn.btn-warning.btn-sm.p-centered.mt-2.mb-2.bt_importance.goal_item.show-xs(data-goal="bt_sur_prochnost") Мне это важно
                .tile-action.hide-xs
                    button.btn.btn-warning.bt_importance.goal_item(data-goal="bt_sur_prochnost") Мне это важно
            li.tile.tile-centered
                .tile-icon.hide-xs
                    figure.avatar.avatar-lg.bg-dark(data-initial="5")
                .tile-content
                    figure.avatar.avatar-lg.bg-dark.p-centered.show-xs(data-initial="5")
                    .tile-title.text-bold ПОЛЫ ВЫДЕРЖИВАЮТ БОЛЬШУЮ НАГРУЗКУ
                    .tile-subtitle.text-gray В любом складе самое важное – это пол. Имеено от него зависит качество и общее время эксплуатации помещения. Мы делаем высокотехнологичный промышленный пол с учётом ваших экплуатационных собенностей: нагрузка, типы погрузчиков, различные факторы эксплуатации и прочее.

                    button.btn.btn-warning.btn-sm.p-centered.mt-2.mb-2.bt_importance.goal_item.show-xs(data-goal="bt_sur_prochnost") Мне это важно
                .tile-action.hide-xs
                    button.btn.btn-warning.bt_importance.goal_item(data-goal="bt_sur_prochnost") Мне это важно
            li.tile.tile-centered
                .tile-icon.hide-xs
                    figure.avatar.avatar-lg.bg-dark(data-initial="6")
                .tile-content
                    figure.avatar.avatar-lg.bg-dark.p-centered.show-xs(data-initial="6")
                    .tile-title.text-bold ВСЕ КОММУНИКАЦИИ СКЛАДА ПОД КЛЮЧ
                    .tile-subtitle.text-gray Заказав склад у нас вы также получите под ключ все коммуникации: электроснабжение, отопление и вентиляцию.
                    button.btn.btn-warning.btn-sm.p-centered.mt-2.mb-2.bt_importance.goal_item.show-xs(data-goal="bt_sur_prochnost") Мне это важно
                .tile-action.hide-xs
                    button.btn.btn-warning.bt_importance.goal_item(data-goal="bt_sur_prochnost") Мне это важно
            li.tile.tile-centered
                .tile-icon.hide-xs
                    figure.avatar.avatar-lg.bg-dark(data-initial="7")
                .tile-content
                    figure.avatar.avatar-lg.bg-dark.p-centered.show-xs(data-initial="7")
                    .tile-title.text-bold ОТЛАЖЕННАЯ СИСТЕМА БЕЗОПАСНОСТИ
                    .tile-subtitle.text-gray Заказав склад у нас вы также получите под ключ всю систему пожарно-охранной сигнализации.
                    button.btn.btn-warning.btn-sm.p-centered.mt-2.mb-2.bt_importance.goal_item.show-xs(data-goal="bt_sur_prochnost") Мне это важно
                .tile-action.hide-xs
                    button.btn.btn-warning.bt_importance.goal_item(data-goal="bt_sur_prochnost") Мне это важно
            li.tile.tile-centered
                .tile-icon.hide-xs
                    figure.avatar.avatar-lg.bg-dark(data-initial="8")
                .tile-content
                    figure.avatar.avatar-lg.bg-dark.p-centered.show-xs(data-initial="8")
                    .tile-title.text-bold ОПТИМАЛЬНАЯ КОНСТРУКЦИЯ ВОРОТ
                    .tile-subtitle.text-gray Мы подбираем оптимальную конструкцию ворот в зависимости от типа склада и особенностей его эксплуатации, включая размер и тип.

                    button.btn.btn-warning.btn-sm.p-centered.mt-2.mb-2.bt_importance.goal_item.show-xs(data-goal="bt_sur_prochnost") Мне это важно
                .tile-action.hide-xs
                    button.btn.btn-warning.bt_importance.goal_item(data-goal="bt_sur_prochnost") Мне это важно
            li.tile.tile-centered
                .tile-icon.hide-xs
                    figure.avatar.avatar-lg.bg-dark(data-initial="9")
                .tile-content
                    figure.avatar.avatar-lg.bg-dark.p-centered.show-xs(data-initial="9")
                    .tile-title.text-bold ВОЗМОЖНОСТЬ ХРАНИТЬ ЛЮБЫЕ ТИПЫ ТОВАРОВ
                    .tile-subtitle.text-gray Вы получите склад в котором возможно будет хранить любые типы товаров при любых температурных режимах.
                    button.btn.btn-warning.btn-sm.p-centered.mt-2.mb-2.bt_importance.goal_item.show-xs(data-goal="bt_sur_prochnost") Мне это важно
                .tile-action.hide-xs
                    button.btn.btn-warning.bt_importance.goal_item(data-goal="bt_sur_prochnost") Мне это важно
.obj-footer
    .calc-panel.p-centered.p-relative.text-uppercase
        svg.gear1.p-absolute
            use.g(href="#icon-logo",xmlns:xlink="http://www.w3.org/1999/xlink", x="8.7", y="8.5")
        .header-plate-text.text-center
            .h5.text-uppercase.text-center УКАЖИТЕ ПЛОЩАДЬ ВАШЕГО СКЛАДА ДЛЯ РАСЧЁТА ЕГО СТОИМОСТИ
            .input-group.p-centered
                input.form-input.survey-value(type="text",  placeholder="")
                button.bt_callback.bt_callback.btn.btn-error.input-group-btn РАССЧИТАТЬ
        svg.gear2.p-absolute
            use.g(href="#icon-logo",xmlns:xlink="http://www.w3.org/1999/xlink", x="8.7", y="8.5")