.stats-container
    #weeks_calendar.d-hide
        .week-header.text-center
        .week-body.d-flex
            button#year_left.dhx_calendar-action__prev.dhx_button.dhx_button--view_link.dhx_button--icon.dhx_button--size_medium.dhx_button--color_secondary.dhx_button--icon.dhx_button--circle.dxi.dxi-chevron-left
            .weeks.d-flex
            button.dhx_calendar-navigation__button.dhx_calendar-action__next.dhx_button.dhx_button--view_link.dhx_button--icon.dhx_button--size_medium.dhx_button--color_secondary.dhx_button--icon.dhx_button--circle.dxi.dxi-chevron-right#year_right
    h1.text-center ВАША СТАТИСТИКА
    .d-flex.mb-2
        .form-group.float-left
            label.form-switch.text-bold 
                span без заголовков
                input#titleSwitch(type="checkbox")
                i.form-icon
            
        .form-group.float-left
            label.form-switch.text-bold 
                span 7R
                input#sevenrSwitch(type="checkbox")
                i.form-icon
        .form-group.float-left
                label.form-switch.text-bold 
                    span Пропуски в графике
                    input#spacesSwitch(type="checkbox", checked)
                    i.form-icon
        
        .form-group.float-left
            label.form-switch.text-bold 
                span выбор недели
                input#calendarSwitch(type="checkbox")
                i.form-icon
        
        #periods.text-center
            .chip.c-hand.active(data-name="1") День
            .chip.c-hand(data-name="2") 2 недели
            .chip.c-hand(data-name="6") 6 недель
            .chip.c-hand(data-name="12") 12 недель
            .chip.c-hand(data-name="24") 24 недели
            .chip.c-hand(data-name="Y") Год
    each post in posts
        section.mt-2.ml-2.mr-2
            h2.text-center= post.title
            .columns
                each sid in post.stat_id.split(',')
                    if sid
                        .column.col-2.col-xl-3.col-lg-4.col-md-6.col-sm-12.col-xxl-3.mb-2
                            .card
                                .card-header(style="height:0px").pt-0
                                    .card-title.stat-title.text-bold.text-center 
                                .card-nav 
                                    .my_dataviz.dragscroll(style="max-width:100%; overflow:auto", data-sid= sid, id= sid)
                            