.stats-container
    #weeks_calendar.d-hide
        .week-header.text-center
        .week-body.d-flex
            button#year_left.dhx_calendar-action__prev.dhx_button.dhx_button--view_link.dhx_button--icon.dhx_button--size_medium.dhx_button--color_secondary.dhx_button--icon.dhx_button--circle.dxi.dxi-chevron-left
            .weeks.d-flex
            button.dhx_calendar-navigation__button.dhx_calendar-action__next.dhx_button.dhx_button--view_link.dhx_button--icon.dhx_button--size_medium.dhx_button--color_secondary.dhx_button--icon.dhx_button--circle.dxi.dxi-chevron-right#year_right
    //- h1.text-center ИЦО
    - stats.sort((a,b) => a.sort - b.sort)
    section.mt-2.ml-2.mr-2
        .d-flex
            .form-group.float-left
                label.form-switch.text-bold 
                    span только график
                    input#titleSwitch(type="checkbox")
                    i.form-icon
            .form-group.float-left
                label.form-switch.text-bold 
                    span выбор недели
                    input#calendarSwitch(type="checkbox")
                    i.form-icon
            .form-group.float-left
                label.form-switch.text-bold 
                    span Пропуски в графике
                    input#spacesSwitch(type="checkbox", checked)
                    i.form-icon
            #periods
                .chip.c-hand.active(data-name="1") День
                .chip.c-hand(data-name="2") 2 недели
                .chip.c-hand(data-name="6") 6 недель
                .chip.c-hand(data-name="12") 12 недель
                .chip.c-hand(data-name="24") 24 недели
                .chip.c-hand(data-name="Y") Год
        .columns
            each stat in stats
                if stat.active
                    .column.col-4.col-xl-3.col-lg-4.col-md-6.col-sm-12.col-xxl-3.mb-2
                        .card
                            .card-header(style="height:0px").pt-0
                                .card-title.stat-title.text-bold.text-center 
                            .card-nav
                                .my_dataviz(data-sid= stat.id, id= stat.id)
                        