a(name="lowVolt")
.obj-header
    .sub-title.text-center.p-centered СЛАБОТОЧНЫЕ РАБОТЫ
    .svgHolder(data-src="./images/lowVolt.svg")
    //- button.btn.p-centered ПОДРОБНЕЕ
.obj-body
    p.p-centered В современном мире, люди уже не представляют свою жизнь без технологий. У каждого в доме есть интернет, телевизор, телефон.
    p.p-centered Всем компаниям нужны телефоны, что бы общаться с клиентами и интернет для коммуникации с сотрудниками, друзьями и миром.
    p.p-centered Мы хотим сделать вашу жизнь удобнее, поэтому можем подключить интернет и телефон любых провайдеров, которые вам понравятся.
.obj-footer
    .cta-panel.p-centered.p-relative.text-uppercase(data-cta="Вам нужна консультация по <span class='d-block'>установке слаботочных систем?</span>", data-btn="УЗНАТЬ")
        svg.gear1.p-absolute
            use.g(href="#icon-logo",xmlns:xlink="http://www.w3.org/1999/xlink", x="8.7", y="8.5")
        .header-plate-text.text-center
            .h5.text-uppercase.text-center
        button.btn.btn-error.text-bold.p-centered  УЗНАТЬ СТОИМОСТЬ
        svg.gear2.p-absolute
            use.g(href="#icon-logo",xmlns:xlink="http://www.w3.org/1999/xlink", x="8.7", y="8.5")

