a(name="facade")
.obj-header
    h3.text-center.p-centered ФАСАДНЫЕ РАБОТЫ
    .svgHolder(data-src="./images/facade.svg")
    //- button.btn.p-centered ПОДРОБНЕЕ
.obj-body
    p.p-centered <span class="text-bold">Фасад</span> – это то, как будет выглядеть здание. Его внешний облик, на что смотрят и то, что со временем разрушается из за дождей, снега, ветров и температуры на улице.
    p.p-centered.text-bold Мы предоставляем виды фасадных работ:
    ul.p-centered
        li Герметизация швов
        li Гидрофобизация
        li Мойка
        li Реставрация
        li Капитальный ремонт конструкции
.obj-footer
    .cta-panel.p-centered.p-relative.text-uppercase(data-cta="Вам нужна консультация по <span class='d-block'>фасадным работам?</span>", data-btn="ЗАКАЗАТЬ")
        svg.gear1.p-absolute
            use.g(href="#icon-logo",xmlns:xlink="http://www.w3.org/1999/xlink", x="8.7", y="8.5")
        .header-plate-text.text-center
            .h5.text-uppercase.text-center 
        button.bt_callback.btn.btn-error.text-bold.p-centered.goal_item(data-goal="bt_callback_calc")   УЗНАТЬ СТОИМОСТЬ
        svg.gear2.p-absolute
            use.g(href="#icon-logo",xmlns:xlink="http://www.w3.org/1999/xlink", x="8.7", y="8.5")

