a(name="living")
.obj-header
    h3.text-center.p-centered ЖИЛАЯ НЕДВИЖИМОСТЬ
        small.d-block.text-gray ЧАСТНЫЕ ДОМА И КОТТЕДЖИ
    .svgHolder(data-src="./images/living.svg")
    //- button.btn.p-centered ПОДРОБНЕЕ
.obj-body
    p.p-centered Мы начинаем строить здания с проектной документации, разработанной для каждого конкретного объекта на участке.
    p.p-centered Проводим геологическое обследование участка, что бы подобрать тип фундамента и ищем опасные места, которые могут принести множество проблем в будущем.
    p.p-centered Предоставляем консультацию по постройке, которая требуется для возведения индивидуального жилья.
    p.p-centered Разрабатываем дизайн-проект дома.
    p.p-centered Строим из тех материалов, которые понравяться вам.
    p.p-centered Делаем внутреннюю и наружную отделку.
    p.p-centered Благоустраиваем территорию по разработанному проекту.
.obj-footer
    .cta-panel.p-centered.p-relative.text-uppercase(data-cta="Вам нужна консультация по <span class='d-block'>постройке жилых домов?</span>", data-btn="ЗАКАЗАТЬ")
        svg.gear1.p-absolute
            use.g(href="#icon-logo",xmlns:xlink="http://www.w3.org/1999/xlink", x="8.7", y="8.5")
        .header-plate-text.text-center
            .h5.text-uppercase.text-center 
        button.bt_callback.btn.btn-error.text-bold.p-centered  УЗНАТЬ СТОИМОСТЬ
        svg.gear2.p-absolute
            use.g(href="#icon-logo",xmlns:xlink="http://www.w3.org/1999/xlink", x="8.7", y="8.5")

