a(name="roomDecoration")
.obj-header
    h3.text-center.p-centered ОТДЕЛОЧНЫЕ РАБОТЫ
    .svgHolder(data-src="./images/roomDecoration.svg")
    //- button.btn.p-centered ПОДРОБНЕЕ
.obj-body
    p.p-centered Они очень важны при постройке, так как они влияют на то как будет выглядеть дом или здание.
    p.p-centered Мы предоставляем любые виды отделочных работ, которые нужны вашему помещению.
.obj-footer
    .cta-panel.p-centered.p-relative.text-uppercase(data-cta="Вам нужна консультация по <span class='d-block'>отделке здания?</span>", data-btn="ЗАКАЗАТЬ")
        svg.gear1.p-absolute
            use.g(href="#icon-logo",xmlns:xlink="http://www.w3.org/1999/xlink", x="8.7", y="8.5")
        .header-plate-text.text-center
            .h5.text-uppercase.text-center 
        button.bt_callback.btn.btn-error.text-bold.p-centered.goal_item(data-goal="bt_callback_calc")  УЗНАТЬ СТОИМОСТЬ
        svg.gear2.p-absolute
            use.g(href="#icon-logo",xmlns:xlink="http://www.w3.org/1999/xlink", x="8.7", y="8.5")

