a(name="waterResist")
.obj-header
    h3.text-center.p-centered ГИДРОИЗОЛЯЦИЯ
    .svgHolder(data-src="./images/waterResist.svg")
    //- button.btn.p-centered ПОДРОБНЕЕ
.obj-body
    p.p-centered Очень важно хорошо защититься от воды.<br/>Ведь мы знаем, что соли, которые находятся в воде, не начали впитываться в материал, и разрушать его конструкцию.<br/>Поэтому каждому дому и зданию нужна гидроизоляция.
    p.p-centered Мы можем сделать внутреннюю, так и внешнюю изоляцию.
.obj-footer
    .cta-panel.p-centered.p-relative.text-uppercase(data-cta="Вам нужна консультация по <span class='d-block'>гидроизоляции?</span>", data-btn="ЗАКАЗАТЬ")
        svg.gear1.p-absolute
            use.g(href="#icon-logo",xmlns:xlink="http://www.w3.org/1999/xlink", x="8.7", y="8.5")
        .header-plate-text.text-center
            .h5.text-uppercase.text-center 
        button.bt_callback.btn.btn-error.text-bold.p-centered  УЗНАТЬ СТОИМОСТЬ
        svg.gear2.p-absolute
            use.g(href="#icon-logo",xmlns:xlink="http://www.w3.org/1999/xlink", x="8.7", y="8.5")

