a(name="roof")
.obj-header
    .sub-title.text-center.p-centered КРОВЕЛЬНЫЕ РАБОТЫ
    .svgHolder(data-src="./images/roof.svg")
    //- button.btn.p-centered ПОДРОБНЕЕ
.obj-body
    p.p-centered Каждый владелец дома или здания хочет иметь прочную и надежную крышу. Мы предоставляем несколько видов кровельной работы:
    ul.p-centered
        li Фальцевая
        li Мембранная
        li Мягкая
        li Гибкая черепица
        li Медная
        li Металлочерепица
        li Утепление кровли
.obj-footer
    .cta-panel.p-centered.p-relative.text-uppercase(data-cta="Вам нужна консультация по <span class='d-block'>кровельным работам?</span>", data-btn="УЗНАТЬ")
        svg.gear1.p-absolute
            use.g(href="#icon-logo",xmlns:xlink="http://www.w3.org/1999/xlink", x="8.7", y="8.5")
        .header-plate-text.text-center
            .h5.text-uppercase.text-center 
        button.btn.btn-error.text-bold.p-centered  УЗНАТЬ СТОИМОСТЬ
        svg.gear2.p-absolute
            use.g(href="#icon-logo",xmlns:xlink="http://www.w3.org/1999/xlink", x="8.7", y="8.5")

