a(name="promObj")
.obj-header
    h3.text-center.p-centered ПРОМЫШЛЕННЫЕ ОБЪЕКТЫ
        small.d-block.text-gray И ПРОИЗВОДСТВЕННЫЕ ОБЪЕКТЫ
    .svgHolder(data-src="./images/promObj.svg")
    //- button.btn.p-centered ПОДРОБНЕЕ
.obj-body
    p.p-centered.text-bold Что необходимо любому бизнесу? 
    p.p-centered Конечно, максимально комфортные условия для производства.
    p.p-centered Здание компании это место где происходит основная деятельность, которая занимается производством продукции. Наличие своего собственного здания позволит компании независимо производить.
    p.p-centered Владелец, у которого есть свое здание, может организовать работу так, как хочет он. Дать персоналу место для работы. Также наличие собственного здания позволит не тратить лишних денег на аренду, благодаря чему, доход будет больше.
    p.p-centered.text-bold Мы можем вам построить помещение под любые потребности:
    ul.p-centered
        li Пищевое производство
        li Мастерские
        li Заводы
        li Цехи
        li Лаборатории
        li Гаражи
        li Мастерская техобслуживания
.obj-footer
    .cta-panel.p-centered.p-relative.text-uppercase(data-cta="Вам нужна консультация по <span class='d-block'>промышленным объектам?</span>", data-btn="ЗАКАЗАТЬ")
        svg.gear1.p-absolute
            use.g(href="#icon-logo",xmlns:xlink="http://www.w3.org/1999/xlink", x="8.7", y="8.5")
        .header-plate-text.text-center
            .h5.text-uppercase.text-center 
        button.bt_callback.btn.btn-error.text-bold.p-centered.goal_item(data-goal="bt_callback_calc")  УЗНАТЬ СТОИМОСТЬ
        svg.gear2.p-absolute
            use.g(href="#icon-logo",xmlns:xlink="http://www.w3.org/1999/xlink", x="8.7", y="8.5")

