a(name="itp")
.obj-header
    h3.text-center.p-centered ИТП
        small.d-block.text-gray ИНДИВИДУАЛЬНЫЙ ТЕПЛОВОЙ ПУНКТ
    .svgHolder(data-src="./images/itp.svg")
    //- button.btn.p-centered ПОДРОБНЕЕ
.obj-body
    p.p-centered ИТП экономит тепло и регулирует параметры. Он находиться отдельно от других помещений. Используется для частных и многоэтажных домах. Так же и в круплых предприятиях и заводах.
    p.p-centered.text-bold Что делает ИТП:
    ul.p-centered
        li Регулирует подачу горячей воды
        li Регулирует температуру и давление в емкостях
        li Учитывает расход тепла
        li Отключение системы
.obj-footer
    .cta-panel.p-centered.p-relative.text-uppercase(data-cta="Вам нужна консультация по <span class='d-block'>установке ИТП?</span>", data-btn="ЗАКАЗАТЬ")
        svg.gear1.p-absolute
            use.g(href="#icon-logo",xmlns:xlink="http://www.w3.org/1999/xlink", x="8.7", y="8.5")
        .header-plate-text.text-center
            .h5.text-uppercase.text-center 
        button.bt_callback.btn.btn-error.text-bold.p-centered  УЗНАТЬ СТОИМОСТЬ
        svg.gear2.p-absolute
            use.g(href="#icon-logo",xmlns:xlink="http://www.w3.org/1999/xlink", x="8.7", y="8.5")

