a(name="poly")
.obj-header
    h3.text-center.p-centered ПРОМЫШЛЕННЫЕ ПОЛЫ
        small.d-block.text-gray С УПРОЧНЕННЫМ ВЕРХНИМ СЛОЕМ (ТОПИНГОМ), ПОЛИМЕРНЫЕ ПОЛЫ, РЕМОНТ ПРОМЫШЛЕННЫХ ПОЛОВ
    .svgHolder(data-src="./images/poly.svg")
    a.btn.p-centered(href="/poly") ПОДРОБНЕЕ
.obj-body
    p.p-centered Бетонные полы используются в технических помещениях: склады, парковки, торговые центры, жилые здания и т.д. 
    p.p-centered Они прочные, износостойкие, не пылят. 
    p.p-centered Очень часто применяются в транспорте. 
    p.p-centered Так же некоторые из них имеют и декоративные свойства.
.obj-footer
    .cta-panel.p-centered.p-relative(data-cta="УЗНАЙТЕ СТОИМОСТЬ <span class='d-block'>ВАШЕГО ПОЛА</span>", data-btn="УЗНАТЬ СТОИМОСТЬ")
        svg.gear1.p-absolute
            use.g(href="#icon-logo",xmlns:xlink="http://www.w3.org/1999/xlink", x="8.7", y="8.5")
        .header-plate-text.text-center
            .h5.text-uppercase.text-center 
        button.bt_callback.btn.btn-error.text-bold.p-centered.goal_item(data-goal="bt_callback_calc")  УЗНАТЬ СТОИМОСТЬ
        svg.gear2.p-absolute
            use.g(href="#icon-logo",xmlns:xlink="http://www.w3.org/1999/xlink", x="8.7", y="8.5")

