a(name="vent")
.obj-header
    h3.text-center.p-centered ВЕНТИЛЯЦИЯ
    .svgHolder(data-src="./images/vent.svg")
    //- button.btn.p-centered ПОДРОБНЕЕ
.obj-body
    p.p-centered <span class="text-bold">Без вентиляции не обойдется ни одно здание, квартира или дом. В воздухе скапливаются вредные вещества, такие как:</span> продукт горения, шерсть, мелкий ворс, химические соединения, пыль. Все эти вредные вещества скапливаются в воздухе и дышать этим очень вредно.
    p.p-centered Мы устанавливаем любую необходимую вам вентиляцию.
.obj-footer
    .cta-panel.p-centered.p-relative.text-uppercase(data-cta="Вам нужна консультация по <span class='d-block'>установке вентиляции?</span>", data-btn="ЗАКАЗАТЬ")
        svg.gear1.p-absolute
            use.g(href="#icon-logo",xmlns:xlink="http://www.w3.org/1999/xlink", x="8.7", y="8.5")
        .header-plate-text.text-center
            .h5.text-uppercase.text-center 
        button.bt_callback.btn.btn-error.text-bold.p-centered.goal_item(data-goal="bt_callback_calc")  УЗНАТЬ СТОИМОСТЬ
        svg.gear2.p-absolute
            use.g(href="#icon-logo",xmlns:xlink="http://www.w3.org/1999/xlink", x="8.7", y="8.5")

