a(name="house")
.obj-header
    h3.text-center.p-centered ДИЗАЙН ИНТЕРЬЕРА
        small.d-block.text-gray В ЗАГОРОДНЫХ ДОМАХ
    .svgHolder(data-src="./images/house.svg")
    //- button.btn.p-centered ПОДРОБНЕЕ
.obj-body
    p.p-centered Прежде чем строить дом, нужно разработать для него дизайн - проект.<br/>Нужно предусмотреть пространства для комфортного сна, отдыха, приема и приготовления пищи. Так же нужно место для работы или учебы, приема гостей.
    p.p-centered Дом после ремонта должен быть практичным. Дизайнер предусматривает расположение вентиляции, трубопровод и даже расположение разеток. Для того, что бы избежать лишних трат.
    p.p-centered Делаем проекты домов во всех стилях, выбери идею для своего дома.
.obj-footer
    .cta-panel.p-centered.p-relative.text-uppercase(data-cta="Вам нужна консультация по <span class='d-block'>дизайну домов?</span>", data-btn="ЗАКАЗАТЬ")
        svg.gear1.p-absolute
            use.g(href="#icon-logo",xmlns:xlink="http://www.w3.org/1999/xlink", x="8.7", y="8.5")
        .header-plate-text.text-center
            .h5.text-uppercase.text-center 
        button.bt_callback.btn.btn-error.text-bold.p-centered  УЗНАТЬ СТОИМОСТЬ
        svg.gear2.p-absolute
            use.g(href="#icon-logo",xmlns:xlink="http://www.w3.org/1999/xlink", x="8.7", y="8.5")

