a(name="")
.obj-header
    h3.text-center.p-centered СИСТЕМЫ БЕЗОПАСНОСТИ
        small.d-block.text-gray СИГНАЛИЗАЦИИ, ПОЖАРОТУШЕНИЕ, ВИДЕОНАБЛЮДЕНИЕ
    .svgHolder(data-src="./images/security.svg")
    //- button.btn.p-centered ПОДРОБНЕЕ
.obj-body
    p.p-centered Ни один дом, квартира и организация, не обойдутся без системы безопасности.
    p.p-centered Они предотвращают возгорание в помещениях, уведомляют чрезвычайных происшествиях и позволяют наблюдать за территорией и местностью.
    p.p-centered Мы установим вам ту систему, которая требуется вашему дому, организации или квартире.
    p.p-centered <span class="text-bold">Список услуг, которыми мы обеспечим вашу безопасность:</span>
    ul.p-centered
        li Звуковое оповещение
        li Видеонаблюдение
        li Охранная сигнализация
        li Пожарная сигнализация
.obj-footer
    .cta-panel.p-centered.p-relative.text-uppercase(data-cta="Вам нужна консультация по <span class='d-block'>установке систем безопасности?</span>", data-btn="ЗАКАЗАТЬ")
        svg.gear1.p-absolute
            use.g(href="#icon-logo",xmlns:xlink="http://www.w3.org/1999/xlink", x="8.7", y="8.5")
        .header-plate-text.text-center
            .h5.text-uppercase.text-center 
        button.bt_callback.btn.btn-error.text-bold.p-centered.goal_item(data-goal="bt_callback_calc")  УЗНАТЬ СТОИМОСТЬ
        svg.gear2.p-absolute
            use.g(href="#icon-logo",xmlns:xlink="http://www.w3.org/1999/xlink", x="8.7", y="8.5")

