a(name="warming")
.obj-header
    h3.text-center.p-centered ОТОПЛЕНИЕ
    .svgHolder(data-src="./images/warming.svg")
    //- button.btn.p-centered ПОДРОБНЕЕ
.obj-body
    p.p-centered <span class="text-bold">Отопление</span> – это та вещь без которой нельзя обойтись.
    p.p-centered <span class="text-bold">Мы устанавливаем отопление:</span>
    ul.p-centered
        li <span class="text-bold">Водяное</span> – вода нагревается в котле и поступает в трубы. По трубам, горячая вода разноситься по зданию и поступает в установленные там радиаторы.
        li <span class="text-bold">Газовое</span> – энергия преобразуется из сгорания газа в котле.
        li <span class="text-bold">Электрическое</span> – устанавливаем электрический обогревать, в котором используется энергия из разогреваемого металла.
        li <span class="text-bold">Инфракрасный пленочный пол</span> – удобный, быстро нагреваемый пол. Равномерное распределение тепла, маленькое потребление энергии.
        li <span class="text-bold">Промышленные отопительные системы</span> – Мы можем сделать отопление любого вида, для большого помещения, склада, завода.
.obj-footer
    .cta-panel.p-centered.p-relative.text-uppercase(data-cta="Вам нужна консультация по <span class='d-block'>установке отопления?</span>", data-btn="ЗАКАЗАТЬ")
        svg.gear1.p-absolute
            use.g(href="#icon-logo",xmlns:xlink="http://www.w3.org/1999/xlink", x="8.7", y="8.5")
        .header-plate-text.text-center
            .h5.text-uppercase.text-center
        button.bt_callback.btn.btn-error.text-bold.p-centered.goal_item(data-goal="bt_callback_calc")  УЗНАТЬ СТОИМОСТЬ
        svg.gear2.p-absolute
            use.g(href="#icon-logo",xmlns:xlink="http://www.w3.org/1999/xlink", x="8.7", y="8.5")

