a(name="ctp")
.obj-header
    h3.text-center.p-centered ЦТП
        small.d-block.text-gray ЦЕНТРАЛЬНЫЙ ТЕПЛОВОЙ ПУНКТ
    .svgHolder(data-src="./images/ctp.svg")
    //- button.btn.p-centered ПОДРОБНЕЕ
.obj-body
    p.p-centered ЦТП требуется для контроля ИТП и потока воды в промышленных предприятиях.
    p.p-centered Он очищает воду, контролирует расходы, изменяет температуру и давление. Когда возникает необходимость, перекрывает поток воды, что бы избежать несчастных случаев и учитывает расход тепла.
.obj-footer
    .cta-panel.p-centered.p-relative.text-uppercase(data-cta="Вам нужна консультация по <span class='d-block'>установке ЦТП?</span>", data-btn="ЗАКАЗАТЬ")
        svg.gear1.p-absolute
            use.g(href="#icon-logo",xmlns:xlink="http://www.w3.org/1999/xlink", x="8.7", y="8.5")
        .header-plate-text.text-center
            .h5.text-uppercase.text-center 
        button.bt_callback.btn.btn-error.text-bold.p-centered  УЗНАТЬ СТОИМОСТЬ
        svg.gear2.p-absolute
            use.g(href="#icon-logo",xmlns:xlink="http://www.w3.org/1999/xlink", x="8.7", y="8.5")

