a(name="adminBuilding")
.obj-header
    h3.text-center.p-centered АДМИНИСТРАТИВНЫЕ
        small.d-block.text-block И ОБЩЕСТВЕННЫЕ ЗДАНИЯ
    .svgHolder(data-src="./images/adminBuilding.svg")
    //- button.btn.p-centered ПОДРОБНЕЕ
.obj-body
    p.p-centered.text-bold Общественные здания нужны для:
    ul.p-centered
        li Торговли
        li Воспитания
        li Бытового обслуживания
        li Развлечений
    p.p-centered В основном элементами всей сферы служат объекты обслуживания. Родители отдают своих детей на различные кружки, в детский сад. Люди ходят в музеи и кинотеатры для приятного времяпрепровождения. Лечатся в больницах. И им нужно покупать еду и другие принадлежности.
    p.p-centered.text-bold Поэтому мы строим:
    ul.p-centered
        li Школы, Ясли, Детские сады.
        li Техникумы, ВУЗы.
        li Музеи, Кинотеатры, Цирки.
        li Больницы, Санатории, Диспансеры.
        li Универмаги, Молы, Гипермаркеты.
.obj-footer
    .cta-panel.p-centered.p-relative.text-uppercase(data-cta="Вам нужна консультация по <span class='d-block'>постройке общественных зданий?</span>", data-btn="ЗАКАЗАТЬ")
        svg.gear1.p-absolute
            use.g(href="#icon-logo",xmlns:xlink="http://www.w3.org/1999/xlink", x="8.7", y="8.5")
        .header-plate-text.text-center
            .h5.text-uppercase.text-center 
        button.bt_callback.btn.btn-error.text-bold.p-centered  УЗНАТЬ СТОИМОСТЬ
        svg.gear2.p-absolute
            use.g(href="#icon-logo",xmlns:xlink="http://www.w3.org/1999/xlink", x="8.7", y="8.5")

