a(name="gas")
.obj-header
    h3.text-center.p-centered ГАЗОСНАБЖЕНИЕ
    .svgHolder(data-src="./images/gas.svg")
    //- button.btn.p-centered ПОДРОБНЕЕ
.obj-body
    p.p-centered Мы можем провести вам газ, начиная от частного дома, до крупных промышленных предприятий.
    p.p-centered Проводим газ с любым приемливым для вас давлением.
.obj-footer
    .cta-panel.p-centered.p-relative.text-uppercase(data-cta="Вам нужна консультация по <span class='d-block'>установке газоснабжения?</span>", data-btn="ЗАКАЗАТЬ")
        svg.gear1.p-absolute
            use.g(href="#icon-logo",xmlns:xlink="http://www.w3.org/1999/xlink", x="8.7", y="8.5")
        .header-plate-text.text-center
            .h5.text-uppercase.text-center 
        button.bt_callback.btn.btn-error.text-bold.p-centered.goal_item(data-goal="bt_callback_calc")  УЗНАТЬ СТОИМОСТЬ
        svg.gear2.p-absolute
            use.g(href="#icon-logo",xmlns:xlink="http://www.w3.org/1999/xlink", x="8.7", y="8.5")

