a(name="zemelnyeRab")
.obj-header
    .sub-title.text-center.p-centered ЗЕМЕЛЬНЫЕ РАБОТЫ
    .svgHolder(data-src="./images/zemelnyeRab.svg")
    //- button.btn.p-centered ПОДРОБНЕЕ
.obj-body
    p.p-centered Земляные работы необходимы для вывоза грунта, подготовки участка, благоустройства территории.
    p.p-centered Мы занимаемся постройкой площадки, отчистки водоемом, укреплением дамб, уплотнением и вывоз грунта.
.obj-footer
    .cta-panel.p-centered.p-relative.text-uppercase(data-cta="Вам нужна консультация по <span class='d-block'>земельным работам?</span>", data-btn="УЗНАТЬ")
        svg.gear1.p-absolute
            use.g(href="#icon-logo",xmlns:xlink="http://www.w3.org/1999/xlink", x="8.7", y="8.5")
        .header-plate-text.text-center
            .h5.text-uppercase.text-center
        button.btn.btn-error.text-bold.p-centered  УЗНАТЬ СТОИМОСТЬ
        svg.gear2.p-absolute
            use.g(href="#icon-logo",xmlns:xlink="http://www.w3.org/1999/xlink", x="8.7", y="8.5")

