a(name="sclady")
.obj-header
    h3.text-center.p-centered СКЛАДЫ И АНГАРЫ «ПОД КЛЮЧ»
        small.d-block.text-gray ОТКРЫТЫЕ, ПОЛУОТКРЫТЫЕ И ЗАКРЫТЫЕ
    .svgHolder(data-src="./images/sclady.svg")
    //- a.btn.p-centered(href="/sclady") ПОДРОБНЕЕ
.obj-body
    p.p-centered Склады являются важной частью бизнеса. Они хранят ресурсы в необходимых условиях и с помощью них можно следить за перемещением материалов.
    p.p-centered Склады могут быть разные, они делятся на критерии:
    p.p-centered <span class="text-bold">По размерам:</span> от площадей в сто квадратных метров, до больших площадей в тысячи квадратных метров.
    p.p-centered <span class="text-bold">По высоте:</span> от нескольких метров, до гигантских складов, которым необходимы машины, что бы раскладывать груз.
    p.p-centered.text-bold По конструкции:
    ul.p-centered
        li Закрытые - отдельное помещение.
        li Полузакрытые - крыша и две, три стены.
        li Открытые: специально оборудованная площадка без крыши и стен.
.obj-footer
    .cta-panel.p-centered.p-relative(data-cta="УЗНАЙТЕ СТОИМОСТЬ <span class='d-block'>ВАШЕГО СКЛАДА «ПОД КЛЮЧ»</span>", data-btn="УЗНАТЬ СТОИМОСТЬ")
        svg.gear1.p-absolute
            use.g(href="#icon-logo",xmlns:xlink="http://www.w3.org/1999/xlink", x="8.7", y="8.5")
        .header-plate-text.text-center
            .h5.text-uppercase.text-center 
        button.bt_callback.btn.btn-error.text-bold.p-centered 
        svg.gear2.p-absolute
            use.g(href="#icon-logo",xmlns:xlink="http://www.w3.org/1999/xlink", x="8.7", y="8.5")

