a(name="suege")
.obj-header
    h3.text-center.p-centered КАНАЛИЗАЦИЯ
    .svgHolder(data-src="./images/suege.svg")
    //- button.btn.p-centered ПОДРОБНЕЕ
.obj-body
    p.p-centered В современном мире не найти дома без канализации. Мы привыкли принимать душ в своей квартире. Так же ни один завод не обойдется без водоснабжения.
    p.p-centered Мы можем провести канализационные трубы как городских домах, так и в частных.
.obj-footer
    .cta-panel.p-centered.p-relative.text-uppercase(data-cta="Вам нужна консультация по <span class='d-block'>установке канализации?</span>", data-btn="ЗАКАЗАТЬ")
        svg.gear1.p-absolute
            use.g(href="#icon-logo",xmlns:xlink="http://www.w3.org/1999/xlink", x="8.7", y="8.5")
        .header-plate-text.text-center
            .h5.text-uppercase.text-center 
        button.bt_callback.btn.btn-error.text-bold.p-centered  УЗНАТЬ СТОИМОСТЬ
        svg.gear2.p-absolute
            use.g(href="#icon-logo",xmlns:xlink="http://www.w3.org/1999/xlink", x="8.7", y="8.5")

