a(name="cooling")
.obj-header
    h3.text-center.p-centered КОНДИЦИОНИРОВАНИЕ
    .svgHolder(data-src="./images/cooling.svg")
    //- button.btn.p-centered ПОДРОБНЕЕ
.obj-body
    p.p-centered Температура за окном меняется, каждый сезон.
    p.p-centered Зимой нам хочется теплой атмосферы, а летом находиться в комфортном и прохладном помещении. Мы устанавливаем кондиционеры любого вида, для поддержания любой температуры, которую вы только захотите, в любое время года.
.obj-footer
    .cta-panel.p-centered.p-relative.text-uppercase(data-cta="Вам нужна консультация по <span class='d-block'>установке кондиционеров?</span>", data-btn="ЗАКАЗАТЬ")
        svg.gear1.p-absolute
            use.g(href="#icon-logo",xmlns:xlink="http://www.w3.org/1999/xlink", x="8.7", y="8.5")
        .header-plate-text.text-center
            .h5.text-uppercase.text-center 
        button.bt_callback.btn.btn-error.text-bold.p-centered  УЗНАТЬ СТОИМОСТЬ
        svg.gear2.p-absolute
            use.g(href="#icon-logo",xmlns:xlink="http://www.w3.org/1999/xlink", x="8.7", y="8.5")

