a(name="malls")
.obj-header
    h3.text-center.p-centered ТОРГОВЫЕ ЦЕНТРЫ
        small.d-block.text-gray И КРЫТЫЕ РЫНКИ
    .svgHolder(data-src="./images/malls.svg")
    //- button.btn.p-centered ПОДРОБНЕЕ
.obj-body
    p.p-centered Проводим маркетинговые исследования,что бы понять какие именно услуги и товары будут интересны покупателям.
    p.p-centered Рассчитываем затраты.
    p.p-centered Определяем все технические характеристики постройки.
    p.p-centered Выбираем место.
    p.p-centered Разрабатываем архитектурный проект, определяем общий вид центра и его прилегающие территории.
    p.p-centered Подготовим весь пакет документов и площадку.
    p.p-centered И начинаем строить.
    p.p-centered Сократить сроки строительства и свести к минимуму количество ошибок можно, если поручить все работы одной команде.
.obj-footer
    .cta-panel.p-centered.p-relative.text-uppercase(data-cta="Узнать больше о постройке <span class='d-block'>торговых центров?</span>", data-btn="ЗАКАЗАТЬ")
        svg.gear1.p-absolute
            use.g(href="#icon-logo",xmlns:xlink="http://www.w3.org/1999/xlink", x="8.7", y="8.5")
        .header-plate-text.text-center
            .h5.text-uppercase.text-center 
        button.bt_callback.btn.btn-error.text-bold.p-centered  УЗНАТЬ СТОИМОСТЬ
        svg.gear2.p-absolute
            use.g(href="#icon-logo",xmlns:xlink="http://www.w3.org/1999/xlink", x="8.7", y="8.5")

